.tabset {
    @include outer-container();
    width: 100%;

    background-color: transparent;
}

.uib-tab {
  .nav-link {
    display: block;
    float: left;
    width: calc(1400px / 9);
    height: 40px;
    padding: 5px 10px 0;

    border-top: 2px solid $bordercolorfaded;
    border-right: 1px solid $bgcolor;
    background-color: $bgcolordark;

    cursor: pointer;
    text-decoration: none;

    &:hover {
      background-color: $white;
    }
  }

  &.active .nav-link {
    background-color: $white;
  }

  &.tab-search {
    .nav-link {
      border-top: 2px solid $lichtgrijs;
    }

    &.active {
      .nav-link {
        border-top-color: $grijs;
      }
    }
  }

  &.tab-media.active {
    .nav-link {
      border-top-color: $oranje;
    }
  }

  &.no-edit {
    .nav-link {
      border-top-color: $grijs;
    }

    &.active {
      .nav-link {
        border-top-color: $black;
      }
    }
  }

  &.tab-add {
    .nav-link {
      display: block;
      float: left;
      width: 40px;
      text-decoration: none;

      background-color: transparent;
      border-top: transparent;

      @include icon('tab-new', 32px);
    }

    &:hover {
      .nav-link {
        border-top: 2px solid $oranje;
      }
    }
  }

  &.tab-media-FOR_REPUBLICATION,
  &.tab-media-FOR_PUBLICATION {
    .nav-link {
      border-top: 2px dashed $lichtoranje;
    }

    &.active {
      .nav-link {
        border-top: 2px dashed $oranje;
      }
    }

    &.no-edit {
      .nav-link {
        border-top: 2px dashed $grijs;
      }

      &.active {
        .nav-link {
          border-top: 2px dashed $black;
        }
      }
    }
  }
  &.tab-close-all {
    position: absolute;
    right: 0;
    width: 15px;
    height: 15px;
    background-color: transparent;
    border-bottom: none !important;
    text-indent: -9999px;
    .nav-link {
      border-top: none !important;
      text-decoration: none;
      @include icon('tab-close', 32px, 'right center');
    }
    &:hover {
      .nav-link {
        @include icon('tab-close-all-hover', 32px, 'right center');
      }
    }

  }

}
.tab-heading {
  display: block;
  position: relative;
}

.tab-subtitle,
.tab-title {
  display: block;
}

.tab-subtitle {
  color: $textcolorlight;
  font-size: $fontsizesmall;
  line-height: $fontsizemedium;
  text-transform: uppercase;
}

.tab-title {
  display: block;
  width: 130px;
  overflow: hidden;

  font-size: $fontsizemedium;
  color: $textcolor;
  text-overflow: ellipsis;
  white-space: nowrap;
}


span.tab-close {
  position: absolute;
  right: 0;
  top: 0;
  width: 12px;
  height: 12px;

  @include icon('tab-close');
  text-indent: -9999px;

  &:hover {
    @include icon('tab-close_hover');
  }
}

