
.media-data .editfield-radiolist-icons .editfield.editable-empty,
.media-data .editfield-checklist-icons .editfield.editable-empty {
    display: none;
}

.media-data .editfield-radiolist-icons .editfield .icon,
.media-data .editfield-checklist-icons .editfield .icon {
    position: relative;

    width: 24px;
    height: 24px;

    display: inline-block;

    background-color: transparent;
}

.editfield-radiolist-icons ._6 {
    @include icon('agerating-6', 18px, 'left center');
}

.editfield-radiolist-icons ._9 {
    @include icon('agerating-9', 18px, 'left center');
}

.editfield-radiolist-icons ._12 {
    @include icon('agerating-12', 18px, 'left center');
}

.editfield-radiolist-icons ._16 {
    @include icon('agerating-16', 18px, 'left center');
}

.editfield-radiolist-icons .ALL {
    @include icon('agerating-all', 18px, 'left center');
}

.editfield-checklist-icons .discriminatie{
    @include icon('contentrating-discriminatie', 18px, 'left center');
}

.editfield-checklist-icons .grof {
    @include icon('contentrating-grof', 18px, 'left center');
}

.editfield-checklist-icons .seks {
    @include icon('contentrating-seks', 18px, 'left center');
}

.editfield-checklist-icons .geweld {
    @include icon('contentrating-geweld', 18px, 'left center');

}

.editfield-checklist-icons .alcoholmisbruik {
    @include icon('contentrating-drugs', 18px, 'left center');

}

.editfield-checklist-icons .angst {
    @include icon('contentrating-angst', 18px, 'left center');
}

.editfield-radiolist-icons .list-icon,
.editfield-checklist-icons .list-icon {
    padding-left: 28px;
    padding-bottom: 1px;
    margin-left: 8px;
}
