
.media-data .editfield-radiolist-icons .editfield.editable-empty,
.media-data .editfield-checklist-icons .editfield.editable-empty {
    display: none;
}

.media-data .editfield-radiolist-icons .editfield .icon,
.media-data .editfield-checklist-icons .editfield .icon {
    position: relative;

    width: 24px;
    height: 24px;

    display: inline-block;

    background-color: transparent;
}

@mixin kijkwijzer($name) {
    background-color: transparent;
    background-position: left center;
    background-repeat: no-repeat;
    background-image: url('/kijkwijzer/icons/' + $name);
    background-size: 18px 18px;

}


$ageratings: 6, 9, 12, 14, 16, 18, ALL;
$contentratings: DISCRIMINATIE, GROF_TAALGEBRUIK, ANGST, GEWELD, SEKS, DRUGS_EN_ALCOHOL;

@each $agerating in $ageratings {
    .editfield-radiolist-icons .ageRating_#{$agerating} {
      @include kijkwijzer('agerating/$agerating.svg');
    }
}

@each $contentrating in $contentratings {
    .editfield-checklist-icons .contentRatings_#{$contentrating} {
      @include kijkwijzer('contentrating/#{to-lower-case($contentrating)}.svg');
    }
}

.editfield-radiolist-icons .list-icon,
.editfield-checklist-icons .list-icon {
    padding-left: 28px;
    padding-bottom: 1px;
    margin-left: 8px;
}
