
.media-data .editfield-radiolist-icons .editfield.editable-empty,
.media-data .editfield-checklist-icons .editfield.editable-empty {
    display: none;
}

.media-data .editfield-radiolist-icons .editfield .icon,
.media-data .editfield-checklist-icons .editfield .icon {
    position: relative;

    width: 24px;
    height: 24px;

    display: inline-block;

    background-color: transparent;
}

/* MM: So it works, but it still is unclear to me why icons must be placed by CSS. What's wrong with img-tags? Putting them in html would eliminate some more logic in the frontend

 */
@mixin kijkwijzer($name) {
    background-color: transparent;
    background-position: left center;
    background-repeat: no-repeat;
    background-image: url('../kijkwijzer/icons/' + $name);
    background-size: 18px 18px;
}

div.ageRating {
    @each $agerating in 6, 9, 12, 14, 16, 18, ALL {
        &.editfield-radiolist-icons .value_#{$agerating} {
            @include kijkwijzer('agerating/$agerating.svg');
        }
    }
}

div.contentRatings {
    &.editfield-checklist-icons {
        text-transform: lowercase;
    }
    @each $contentrating in DISCRIMINATIE, GROF_TAALGEBRUIK, ANGST, GEWELD, SEKS, DRUGS_EN_ALCOHOL {
        &.editfield-checklist-icons .value_#{$contentrating} {
            @include kijkwijzer('contentrating/#{to-lower-case($contentrating)}.svg');
        }
    }
}

.editfield-radiolist-icons .list-icon,
.editfield-checklist-icons .list-icon {
    padding-left: 28px;
    padding-bottom: 1px;
    margin-left: 8px;
}
