
.media-data .editfield-radiolist-icons .editfield.editable-empty,
.media-data .editfield-checklist-icons .editfield.editable-empty {
    display: none;
}

.media-data .editfield-radiolist-icons .editfield .icon,
.media-data .editfield-checklist-icons .editfield .icon {
    position: relative;

    width: 24px;
    height: 24px;

    display: inline-block;

    background-color: transparent;
}

// This seems very cumbersome: Everything is completely predictable, so why do we have to do this?

.editfield-radiolist-icons ._6 {
    @include domainicon('agerating/6.svg', 18px, 'left center');
}

.editfield-radiolist-icons ._9 {
    @include domainicon('agerating/9.svg', 18px, 'left center');
}

.editfield-radiolist-icons ._12 {
    @include domainicon('agerating/12.svg', 18px, 'left center');
}

.editfield-radiolist-icons ._14 {
    @include domainicon('agerating/14.svg', 18px, 'left center');
}

.editfield-radiolist-icons ._16 {
    @include domainicon('agerating/16.svg', 18px, 'left center');
}

.editfield-radiolist-icons ._18 {
    @include domainicon('agerating/18.svg', 18px, 'left center');
}

.editfield-radiolist-icons .ALL {
    @include icon('agerating/all.svg', 18px, 'left center');
}

.editfield-checklist-icons .discriminatie{
    @include domainicon('contentrating/discriminatie.svg', 18px, 'left center');
}

.editfield-checklist-icons .grof {
    @include domainicon('contentrating/grof_taalgebruik.svg', 18px, 'left center');
}

.editfield-checklist-icons .seks {
    @include domainicon('contentrating/seks.svg', 18px, 'left center');
}

.editfield-checklist-icons .geweld {
    @include domainicon('contentrating/geweld.svg', 18px, 'left center');

}

.editfield-checklist-icons .alcoholmisbruik {
    @include domainicon('contentrating/drugs_en_alchohol.svg', 18px, 'left center');

}

.editfield-checklist-icons .angst {
    @include domainicon('contentrating/angst.svg', 18px, 'left center');
}

.editfield-radiolist-icons .list-icon,
.editfield-checklist-icons .list-icon {
    padding-left: 28px;
    padding-bottom: 1px;
    margin-left: 8px;
}
