<div class="modal-header">
  <div class="modal-title"> {{ ::modalTitle }}</div>
  <div class="modal-close-button" ng-click="controller.cancel()"> close</div>
</div>
<form role="form" class="poms-form modal-form" name="createForm" ng-class="{'waiting': waiting}">
  <div class="modal-body">

    <div class="form-fields">
      <div class="modal-column">


        <div class="row">

          <div class='field col-3 itemizer-start'>
            <label for="inputStart">Starttijd &#42;</label>
            <input ng-disabled="waiting" id="inputStart" type="text"
                   ng-required="true"
                   ng-model="segment.start" />
            <span class="error" ng-show="invalidTimes">De starttijd van een segment mag niet later zijn dan  of gelijk zijn aan de stoptijd.</span>
          </div>

          <div class='field col-3 itemizer-stop'>
            <label for="inputStop">Eindtijd</label>
            <input ng-disabled="waiting" id="inputStop" type="text"
                   ng-model="segment.stop"
                   ng-pattern="/^\d+:\d{2}:\d{2}\.\d{3}$/"
                   ng-required="! segment.duration.length"
                   ng-disabled="segment.duration.length"
            />
          </div>
           <div class='field col-3 itemizer-duration'>
            <label for="inputDuration">Duur</label>
            <input id="inputDuration" type="text"
                   ng-model="segment.duration"
                   ng-required="! segment.stop.length"
                   ng-disabled="segment.stop.length"
            />
          </div>

        </div>
          <div class="row">
            <div class="col-12">

              <div class="field " ng-class="{'has-error' : segmentForm.inputTitle.$invalid}">
                <label for="inputTitle">Titel &#42; </label>
                <input  type="text" name="inputTitle" id="inputTitle" required
                        placeholder="Titel (verplicht)"
                        ng-model="segment.mainTitle"
                        ng-disabled="waiting"/>
                <poms-invalid violation="controller.violations.title"></poms-invalid>
                <poms-help field="editor.segment.title"></poms-help>
              </div>

            </div>

          </div>

        <div class="row">
          <div class="col-12">

            {{controller.violations}}c
            <div class="field" ng-class="{'has-error' : segmentForm.inputDescription.$invalid}">
              <label for="inputDescription">Beschrijving &#42;</label>
              <textarea type="text" name="inputDescription" id="inputDescription" required
                        placeholder="Korte beschrijving (verplicht)"
                        ng-model="segment.mainDescription"
                        ng-disabled="waiting"/>
              <poms-invalid violation="controller.violations.description"></poms-invalid>
              <poms-help field="editor.segment.description"></poms-help>
            </div>

          </div>

        </div>

      </div>
    </div>

    <div class="modal-disable-overlay"></div>

  </div>


    <div class="footer-container">
        <div class="footer modal-footer footer-three-buttons" ng-class="{'waiting': waiting}">

          <div class="required-feedback footer-message" >
            <span class="required-feedback-message" ng-if="! createForm.$valid">Nog in te vullen:</span>
            <span class="required-field" ng-repeat='field in required' ng-if="(!segment[field.id].text)">{{field.text}}</span>
            <span class="required-field" ng-if='invalidTimes'> starttijd-stoptijd </span>
            &nbsp;
          </div>

          <button class="btn-rect" ng-click="controller.save()" ng-disabled="! createForm.$valid || waiting">Bewaar en sluit</button>
          <button class="btn-rect" ng-click="controller.saveAndNew()" ng-disabled="! createForm.$valid || waiting">Bewaar en nieuw</button>
          <button class="btn-rect btn-rect-cancel" ng-disabled="waiting" ng-click="controller.cancel($event)">Annuleer</button>

        </div>
    </div>

</form>
