<div class="modal-header">
    <div class="modal-title"> Bron uploaden</div>
    <div class="modal-close-button" ng-click="uploadController.cancel()"> close</div>
</div>

<form role="form" class="form uploadLocationForm" ng-class="{'waiting': waiting}" name="uploadLocationForm">
    <div class="modal-body">
        <div ng-if="isTranscoding">

            <p>Er wordt al een upload verwerkt voor dit media item.
                Dit is de voortgang:
            </p>

            <table class="poms-table">
                <thead>
                <tr class="poms-table-head-row">
                    <th title="MID" class="poms-table-header"> MID</th>
                    <th title="Status" class="poms-table-header"> Status</th>
                    <th title="Encoder" class="poms-table-header"> Encoder</th>
                    <th title="Gestart op" class="poms-table-header"> Gestart op</th>
                    <th title="Gewijzigd op" class="poms-table-header"> Gewijzigd op</th>
                </tr>
                </thead>

                <tbody>
                <tr class="poms-table-row" ng-repeat="transcoding in transcodings track by $index">
                    <td> {{ transcoding.mid }} </td>
                    <td> {{ transcoding.title }}  </td>
                    <td> {{ transcoding.state }} </td>
                    <td> {{ transcoding.encoder }} </td>
                    <td>
                    <span ng-if="transcoding.creationDate">
                        {{ transcoding | searchColumnFilter:"creationDate"}}
                    </span>
                        </td>
                        <td>
                    <span ng-if="transcoding.lastModifiedDate">
                        {{ transcoding | searchColumnFilter:"lastModifiedDate" }}
                    </span>
                    </td>
                </tr>
                </tbody>
            </table>

            Zodra de upload voltooid is zal deze als bron verschijnen bij het media-item.
            <hr style="margin-bottom: 20px;"/>
        </div>
        <div class="form-fields ">

            <div class="row">

                <div dropdown class="dropdown-wrapper col-3 field">
                    <span class="dropdown-toggle" dropdown-toggle> Publicatie </span>

                    <div dropdown-menu class="daterange-select" daterangepicker>

                        <div class="input-group datepicker-dropdown">
                            <label class='date-input-label' label-for="fromdate">Start</label>


                            <input name='fromdate' type="text" class="form-control"
                                   datepicker-popup="dd-MM-yyyy HH:mm"
                                   max-date='maxStart'
                                   ng-model="location.publication.start"
                                   is-open="startdate.open"
                                   close-text="sluit"
                                   ng-click="$event.preventDefault(); $event.stopPropagation();"
                                   ng-change="setMinStop(location.publication.start)"/>

                            <button class="open-calendar" ng-click="openStartDate($event)">
                            </button>
                        </div>


                        <div class="input-group datepicker-dropdown">
                            <label class='date-input-label' label-for="todate">Stop</label>

                            <input name='fromdate' type="text" class="form-control"
                                   datepicker-popup="dd-MM-yyyy HH:mm"
                                   min-date='minStop'
                                   ng-model="location.publication.stop"
                                   is-open="stopdate.open"
                                   close-text="sluit"
                                   ng-click="$event.preventDefault(); $event.stopPropagation();"
                                   ng-change="setMaxStart(location.publication.stop)"/>

                            <button class="open-calendar" ng-click="openStopDate($event)">
                            </button>
                        </div>

                    </div>


                    <div class="dropdown-selected " ng-if="location.publication.start"
                         ng-click="location.publication.start = undefined">
                        start: <span> {{location.publication.start | mediaDateTime}} </span>
                    </div>

                    <div class="dropdown-selected " ng-if="location.publication.stop"
                         ng-click="location.publication.stop = undefined">
                        stop: <span> {{location.publication.stop | mediaDateTime}} </span>
                    </div>

                </div>
            </div>


            <div class="field float-clear col-4" ng-class="{'has-error' : uploadLocationForm.inputFile.$invalid}">
                <label for="inputFile">Bestand</label>

                <input type="file" id="inputFile" name="inputFile"
                       ng-file-select="uploadController.fileSelected()"
                       ng-model="location.file"
                       accept="audio/*,video/*,image/*,video/mp4,video/x-m4v">
            </div>

        </div>

        <div class="modal-disable-overlay"></div>

    </div>


    <div class="footer-container">
        <div class="footer modal-footer footer-two-buttons">

            <div class="required-feedback footer-message">
                <span class="required-feedback-message" ng-if="!location.file">Nog in te vullen:</span>
                <span class="required-field" ng-if="!location.file">Bestand</span>
                &nbsp;
            </div>

            <button class="btn-rect" ng-click="uploadController.save()" ng-disabled="!location.file || waiting">
                Start upload
            </button>
            <button class="btn-rect btn-rect-cancel" ng-click="uploadController.cancel($event)">Annuleer</button>

        </div>
    </div>

</form>
