<div class="modal-header">
    <div class="modal-title"></div>
    <div class="modal-close-button" ng-click="LocationPlayController.close()"> sluit</div>
</div>

<div class="modal-body">
    <div class="modal-message">

        <!--&lt;!&ndash;{{ location }}&ndash;&gt;-->
        <!--&lt;!&ndash;<br>&ndash;&gt;-->
        <!--<!-&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
        <!--&lt;!&ndash;<br>&ndash;&gt;-->
        <!--&lt;!&ndash;{{ url }}&ndash;&gt;-->

    </div>
</div>

<div class="footer-container">
    <div class="footer modal-footer footer-one-button">
        <div class="footer-message">&nbsp;</div>
        <button class="btn-rect" ng-click="LocationPlayController.close()">Sluit</button>
    </div>
</div>
