<div class="modal-header">
  <div class="modal-title"> {{ ::modalTitle }}</div>
  <div class="modal-close-button" ng-click="controller.cancel()"> close</div>
</div>
<form role="form" class="poms-form modal-form" name="createForm" ng-class="{'waiting': waiting}">
  <div class="modal-body">

    <div class="form-fields">
      <div class="modal-column">
        <div class="row">

          <div class="field col-4"  ng-class="{'has-error' : createForm.inputStart.$invalid}">
            <label for="inputStart">{{fieldNames.inputStart}} &#42;</label>
            <input ng-disabled="waiting" id="inputStart"
                   name="inputStart" type="text"
                   ng-required="true"
                   placeholder="{{durationPlaceholder}}"
                   ng-pattern="durationRegexp"
                   ng-model="segment.start" />
            <span class="error" ng-show="invalidTimes">De starttijd van een segment mag niet later zijn dan  of gelijk zijn aan de stoptijd.</span>
            <poms-invalid violation="controller.violations.start"></poms-invalid>
          </div>

          <div class='field col-4'  ng-class="{'has-error' : createForm.inputStop.$invalid}">
            <label for="inputStop">{{fieldNames.inputStop}}</label>
            <input
                    id="inputStop"
                    name="inputStop"
                    type="text"
                    ng-model="segment.stop"
                    ng-pattern="durationRegexp"
                    placeholder="{{durationPlaceholder}}"
                    ng-required="! segment.duration.length"
            />
            <poms-invalid violation="controller.violations.stop"></poms-invalid>
          </div>
           <div class='field col-4'
                ng-class="{'has-error' : createForm.inputDuration.$invalid}">
            <label for="inputDuration">{{fieldNames.inputDuration}}</label>
            <input
                    id="inputDuration"
                   name="inputDuration"
                   data-naam="duration"
                   type="text"
                   ng-model="segment.duration"
                   ng-pattern="durationRegexp"
                   placeholder="{{segment.stop.length ? '': durationPlaceholder}}"
                   ng-required="! segment.stop.length"
                   ng-disabled="segment.stop.length"
            />
             <poms-invalid violation="controller.violations.duration"></poms-invalid>

          </div>
        </div>
        <div class="row">
          <div class="field col-6 dropdown-wrapper"
               ng-class="{'has-error' : createForm.inputMediaType.$invalid}">
            <poms-ui-select class="poms-uiselect"
                            options="chapterTypes"
                            name="Hoofdstuktype"
                            selection="media.chapterType"
            ></poms-ui-select>
            <div>
              <div class="dropdown-selected" ng-if="media.chapterTpye" ng-click="media.chapterType = undefined">
                {{media.chapterType.text}}
              </div>
            </div>
            <poms-invalid violation="violations.chapterType"></poms-invalid>

          </div>

        </div>
          <div class="row">
            <div class="col-12">

              <div class="field " ng-class="{'has-error' : ! createForm.inputTitle.$valid}">
                <label for="inputTitle">{{fieldNames.inputTitle}} &#42;</label>
                <input  type="text" name="inputTitle"
                        id="inputTitle" required
                        placeholder="Titel (verplicht)"
                        ng-model="segment.mainTitle"
                        ng-disabled="waiting"/>
                <poms-invalid violation="controller.violations.title"></poms-invalid>
                <poms-help field="editor.segment.mainTitle"></poms-help>
              </div>

            </div>

          </div>

        <div class="row">
          <div class="col-12">

            <div class="field" ng-class="{'has-error' : createForm.inputDescription.$invalid}">
              <label for="inputDescription">{{fieldNames.inputDescription}}</label>
              <textarea type="text"
                        name="inputDescription"
                        id="inputDescription"
                        placeholder="Korte beschrijving"
                        ng-model="segment.mainDescription"
                        ng-disabled="waiting"/>
              <poms-invalid violation="controller.violations.description"></poms-invalid>
              <poms-help field="editor.segment.mainDescription"></poms-help>
            </div>

          </div>

        </div>

      </div>
      <div class="modal-column">
        <div ng-bind-html="segmentsHelp"></div>
      </div>

    </div>

    <div class="modal-disable-overlay"></div>

  </div>


    <div class="footer-container">
        <div class="footer modal-footer footer-three-buttons" ng-class="{'waiting': waiting}">

          <div class="required-feedback footer-message" >
            <span class="required-feedback-message" ng-if="! createForm.$valid">Nog in te vullen:</span>
            <span class="required-field" ng-repeat='field in createForm' ng-if="!field.$valid">{{fieldNames[field.$name].toLowerCase()}}</span>
            <span class="required-field" ng-if='invalidTimes'> starttijd-stoptijd </span>
            &nbsp;
          </div>

          <button class="btn-rect" ng-click="controller.save()" ng-disabled="! createForm.$valid || waiting">Bewaar en sluit</button>
          <button class="btn-rect" ng-click="controller.saveAndNew()" ng-disabled="! createForm.$valid || waiting">Bewaar en nieuw</button>
          <button class="btn-rect btn-rect-cancel" ng-disabled="waiting" ng-click="controller.cancel($event)">Annuleer</button>

        </div>
    </div>

</form>
