<div class="modal-header">
  <div class="modal-title"> {{ ::modalTitle }} </div>
  <div class="modal-close-button" ng-click="controller.cancel()"> close </div>
</div>

<form role="form" class="poms-form editScheduleEventForm" ng-class="{'waiting': waiting}" name="editScheduleEventForm" >

  <div class="modal-body">

    <div class="form-fields ">

      <div class="modal-column">

        <div class="row">
          <p> <label label-for="channel">Kanaal:</label>
            <span ng-if="!event.mayWrite">{{::event.channel.text}}</span>
            <span ng-if="event.mayWrite">
              <select
                      name="channel"
                      ng-model="event.channel"
                      ng-options="channel.text for channel in controller.channels track by channel.id">
              </select>
            </span>
          </p>
          <p>
            <label label-for="net">Net:</label>
            <span ng-if="!event.mayWrite">{{::event.net.text}}</span>
            <span ng-if="event.mayWrite">
              <select
                      name="net"
                      ng-model="event.net"
                      ng-options="net.text for net in controller.nets  track by net.id">
              </select>
            </span>
          </p>
          <p>
            <label label-for="start">Starttijd:</label>
            <span ng-if="!event.mayWrite">{{::event.start | mediaDateTime}}</span>
            <div class="input-group editable-datepicker" ng-if="event.mayWrite">
              <input
                      name='start'
                      type="text"
                      class="form-control"
                      datepicker-popup="dd-MM-yyyy HH:mm"
                      max-date='maxStart'
                      ng-model="event.start"
                      is-open="startdate.open"
                      close-text="sluit"
              />
             <button class="open-calendar" ng-click="console.log('hoi', $event); openStartDate($event)"> </button>
           </div>
          </p>
          <p>Gidsdatum: {{event.guideDayString}}</p>
          <p>
            <label label-for="stop">Stoptijd:</label>
            <span ng-if="!event.mayWrite">{{::event.stop| mediaDateTime}}</span>
            <div class="input-group editable-datepicker" ng-if="event.mayWrite">
            <input
                    name='stop'
                    type="text"
                    class="form-control"
                    datepicker-popup="dd-MM-yyyy HH:mm"
                    max-date='maxStart'
                    ng-model="event.stop"
                    is-open="stopdate.open"
                    close-text="sluit"
            />
          <button class="open-calendar" ng-click="openStopDate($event)"> </button>
          </div>
          </p>

          <p>Teletekstpagina: {{::event.textPage}}</p>
          <p>Ondertiteling: {{::event.textSubtitles}}</p>
          <p>
            <label label-for="repeatInput">Herhaling:</label>
            <span ng-if="!event.mayWrite">{{::event.rerun}}</span>
            <span ng-if="event.mayWrite">
              <input name="repeatInput"
                     type="checkbox"
                     ng-model="event.rerun" />
            </span>
          </p>

        </div>

        <div class="row" ng-repeat="title in titles">
          <div class="field"  ng-class="{'has-error' : editScheduleEventForm.mainTitle.$invalid}">
            <label label-for="{{title}}">{{textfieldNames[title]}}</label>
            <input type="text" name="{{title}}"
                   ng-model="event[title].text"/>
            <!--<poms-invalid violation="controller.violations.programUrl"></poms-invalid>-->
            <!--<poms-help field="editor.event.url"></poms-help>-->
          </div>
        </div>


      </div>
      <div class="modal-column">

        <div class="row" ng-repeat="description in descriptions">
          <div class="field"  ng-class="{'has-error' : editScheduleEventForm.mainTitle.$invalid}">
            <label label-for="{{description}}">{{textfieldNames[description]}}</label>
            <textarea type="text" name="{{description}}"
                      ng-model="event[description].text"/>
            <!--<poms-invalid violation="controller.violations.programUrl"></poms-invalid>-->
            <!--<poms-help field="editor.event.url"></poms-help>-->
          </div>
        </div>

      </div>
    </div>

    <div class="modal-disable-overlay"></div>

  </div>

  <div class="footer-container">
    <div class="footer modal-footer footer-two-buttons">

      <div class="required-feedback footer-message">
        &nbsp;
      </div>

      <button class="btn-rect" ng-click="controller.save()">
        Bewaar
      </button>
      <button class="btn-rect btn-rect-cancel" ng-click="controller.cancel($event)">Annuleer</button>

    </div>
  </div>

</form>
