<div class="viewer">
    <div class="viewer-player" id="viewer-{{media.mid}}">

        <div class='viewer-placeholder' ng-if="media.image" style="background-image: url('{{ media.image.backend.original}}')" >
            <div class="viewer-play-button" title="speel dit item af in de NPO player"  ng-if="isPlayable" ng-click="play()"> </div>
        </div>

        <div class='viewer-placeholder' ng-if="!media.image" >
            <span class="viewer-error" ng-if="isPlayable" >Dit item bevat geen afbeelding</span>
            <div class="viewer-play-button" title="speel dit item af in de NPO player"  ng-if="isPlayable" ng-click="play()"> </div>
        </div>

        <div ng-if="!isPlayable && !media.image">
           <span class="viewer-error" >Dit item bevat geen afspeelbare bron &eacute;n geen afbeelding</span>
        </div>

        <div ng-if="!isPlayable && media.image">
            <span class="viewer-error" >Dit item bevat geen afspeelbare bron</span>
        </div>

    </div>

    <div class="viewer-info {{type}}">

        <h1 class="viewer-title">{{ media.mainTitle.text || media.title || '-' }}
        </h1>
        <h2 class="viewer-subtitle">{{ media.subTitle.text }}</h2>
        <h2 class="viewer-subtitle" ng-if="media.episodeOf">
            <span ng-if="isAflevering(media)" >  Aflevering </span>
            <span ng-if="!isAflevering(media)" >  Uitzending </span>
            {{media.episodeOf[0].number }}
            van
            <a href="{{editRef(media.episodeOf[0].id)}}">{{media.episodeOf[0].text }}</a>

        </h2>
        <h2 class="viewer-media-type">
            <span ng-if="!media.episodeOf">{{ ::media.type.text }} - </span>
            <span ng-if="::media.scheduleEvents[0]" >  {{ ::media.scheduleEvents[0].start | mediaDate }}</span>
            <span ng-if="!media.scheduleEvents[0] && media.sortDate" >  {{ media.sortDate | mediaDate }}</span>
        </h2>
        <br/>

        <h2 class="viewer-description" title="{{media.mainDescription.text || media.subTitle.text || '-' }}"> {{( media.mainDescription.text || media.subTitle.text || '-') | truncate: 130 }}</h2>
    </div>
    <span class='viewer-add-favorite animate-fade' ng-if="!isFavorite()"  ng-click="addFavorite()"> maak favoriet</span>

</div>
