.modal-edit-prediction .modal-body{
  position: relative;
  min-height: 400px;
  max-height: 400px;
  padding: 24px 24px 48px 24px;
  overflow: auto;
  background-color: $ultralichtgrijs;
}

.modal-edit-prediction .modal-footer{
  background-color: $white;
  border: 0;
  border-top: 2px solid $lichtgrijs;
}
