.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: $black;
    opacity: 0.7;
}

.modal {

    overflow: auto;
    overflow-y: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    outline: 0;

    font-size: $fontsizebig;
}

.modal-text-small{
    font-size: $fontsizemedium;
}

.modal.fade {
    opacity: 0;
}

.modal.in {
    opacity: 1;
}

.modal-backdrop {
    @include transition(opacity .3s ease-out);
}

.modal-backdrop.fade {
    filter: alpha(opacity=0);
    opacity: 0;
}

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5;
}

.modal-dialog {
    width: 75vw;
    margin: 30px auto;
}

.modal-content {
    position: relative;
}

.modal-header {
    background: transparent;
}

.modal-body {
    position: relative;

    max-height: 80vh;
    min-height: 400px;

    padding: 24px 24px 48px 24px;

    overflow: auto;

    background-color: $ultralichtgrijs;

}


.modal-title {
    color: white;
    font-size: 36px;
}

.modal-close-button {
    position: fixed;
    right: 10px;
    top: 0;
    color: white;
    font-size: 72px;
    margin: 16px;

    width: 34px;
    height: 34px;

    cursor: pointer;

    text-indent: -9999px;

    background-image: url('../resources/icons/overlay-close.svg');;
    background-position: center;
}

.modal-footer {
    background-color: $white;
    border: 0;
    border-top: 2px solid $lichtgrijs;
    max-width: none;
}

.modal-poms-table {
    background-color: transparent;
}

.modal a {
    color: $oranje;
}

.modal p {
    margin-bottom: 12px;
    color: $donkergrijs;
}

.modal-column {
    @include span-columns(6);
}

.modal-column-table {
    table-layout: fixed;
}

.modal-column-table-header,
.modal-column-table-data {
    width: 100px;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.modal .modal-disable-overlay{
    width:100%;
    height:100%;
    position:absolute;
    left: 0;
    top:0;
    background-color: white;
    opacity:0.4;
    display:none;
}

.modal .waiting .modal-disable-overlay{
    display: block;
}

.modal .waiting .footer-message:after{
    content:" ";
    display: inline-block;

    width:24px;
    height:24px;

    background-image: url("../resources/images/loading.gif");
    background-size: 18px 18px;
    background-repeat: no-repeat;

    position: relative;
    top: 7px;

}

.modal-body span.value {
  font-family: monospace;
}
