.live-editor-button {
    font-size: 12px;
    text-transform: uppercase;
    float: left;
    display: block;
    margin-right: 16px;
    width: 40%;
    height: 32px;
    border: 0;
    background-color: #ed6d1c;
    color: #fff;
}


.custom-duration-display {
    float: right;
    padding: 11px;
    color: white;
    font-weight: normal;
    font-size: .9em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.custom-time-display {
    float: left;
    padding: 11px;
    color: white;
    font-weight: normal;
    font-size: .9em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}