.modal-person input:disabled{
    opacity: 0.4;
}

.modal-person .poms-typeahead .dropdown-menu{

    line-height:18px;

    max-height: 250px;
    overflow-y: scroll;
}

.modal-person .poms-typeahead .dropdown-menu li{
    padding:6px;
    padding-bottom:2px;
    border-bottom: 1px solid $extralichtgrijs;
}


.modal-person .poms-typeahead .dropdown-menu .new{
    color: $oranje;
}

.modal-person .suggestions{
    margin-top:12px;
    margin-bottom: 12px;
    @include clearfix;
}


.modal-person .person-label{
    width:100%;
    padding:4px;
    color: $grijs;
    margin: 0;

    cursor:pointer;

    &:hover{
        background-color: $extralichtoranje;
    }

    &.checked,
    &[checked="ckecked"]{
        background-color: $extralichtgrijs;
    }
}


.modal-person .personfields hr{
    width:100%;
    margin: 24px 0;
}

.modal-person .personfields .row:after,
.modal-person .personfields hr:after {
    content:"";
    display:table;
    clear:both;
}

