<div class="modal-header">
    <div class="modal-title">Herpubliceer</div>
    <div class="modal-close-button" ng-click="republishController.cancel()"> close</div>
</div>

<form role="form" class="poms-form" ng-class="{'waiting': waiting}" name="republishForm">

    <div class="modal-body">

        <div class="form-fields">

            <div class="modal-column">

                <div class="row">

                    <div class="field">
                        <label for="inputMids"> Mids </label>

                        <ui-select id="inputMids" multiple tagging tagging-label="(nieuw)"
                                   tagging-tokens=",|ENTER|SPACE" ng-model="republish.mids" theme="bootstrap"
                                   search-enabled="false">
                            <ui-select-match placeholder="Mids...">{{$item}}</ui-select-match>
                            <ui-select-choices repeat="item in options"> {{item}}</ui-select-choices>

                        </ui-select>

                        <poms-invalid violation="republishController.violations.mids"></poms-invalid>
                    </div>

                </div>

                <div class="row">

                    <div class="field">
                        <poms-ui-select-multi class="poms-uiselect dropdown-wrapper"
                                              options="republishController.mediaTypes.data"
                                              name="MediaType"
                                              selection="republish.types"
                                ></poms-ui-select-multi>

                        <poms-invalid violation="republishController.violations.types"></poms-invalid>

                        <a class="dropdown-selected animate-fade" title="verwijder dit criterium"
                           ng-repeat="type in republish.types"
                           ng-click="republishController.removeOption(republish.types, $index)">
                            {{type.text}}
                        </a>
                    </div>

                </div>

                <div class="row">
                    <div class="field dropdown-wrapper">
                        <div dropdown>
                            <span class="dropdown-toggle" dropdown-toggle> Gepubliceerd tussen </span>

                            <div dropdown-menu class="daterange-select" daterangepicker>

                                <div class="input-group datepicker-dropdown">
                                    <label class='date-input-label' label-for="fromdate">Start</label>

                                    <input name='fromdate' type="text" class="form-control"
                                           datepicker-popup="dd-MM-yyyy HH:mm"
                                           max-date='maxStart'
                                           ng-model="republish.publishStart"
                                           is-open="startdate.open"
                                           close-text="sluit"
                                           ng-click="$event.preventDefault(); $event.stopPropagation();"
                                           ng-change="setMinStop( republish.publishStart )"/>

                                    <button class="open-calendar" ng-click="openStartDate($event)">
                                    </button>
                                </div>


                                <div class="input-group datepicker-dropdown">
                                    <label class='date-input-label' label-for="todate">Stop</label>

                                    <input name='todate' type="text" class="form-control"
                                           datepicker-popup="dd-MM-yyyy HH:mm"
                                           min-date='minStop'
                                           ng-model="republish.publishStop"
                                           is-open="stopdate.open"
                                           close-text="sluit"
                                           ng-click="$event.preventDefault(); $event.stopPropagation();"
                                           ng-change="setMaxStart( republish.publishStop )"/>

                                    <button class="open-calendar" ng-click="openStopDate($event)">
                                    </button>
                                </div>

                            </div>
                        </div>

                        <div class="dropdown-selected" ng-if="republish.publishStart"
                             ng-click="republish.publishStart = undefined">
                            van: <span> {{republish.publishStart | date:'dd MMM yyyy hh:mm'}} </span>
                        </div>

                        <div class="dropdown-selected" ng-if="republish.publishStop"
                             ng-click="republish.publishStop = undefined">
                            tot: <span> {{republish.publishStop | date:'dd MMM yyyy hh:mm'}} </span>
                        </div>

                    </div>
                </div>

                <div class="row">

                    <div class="field">
                        <poms-ui-select-multi class="poms-uiselect dropdown-wrapper"
                                              options="republishController.destinations.data"
                                              name="Publiceer naar"
                                              selection="republish.destinations"
                                ></poms-ui-select-multi>

                        <poms-invalid violation="republishController.violations.destinations"></poms-invalid>

                        <a class="dropdown-selected animate-fade" title="verwijder deze bestemming"
                           ng-repeat="type in republish.destinations"
                           ng-click="republishController.removeOption(republish.destinations, $index)">
                            {{type.text}}
                        </a>
                    </div>

                </div>

                <div class="row">
                    <div class="field col-6" ng-class="{'has-error' : editLocationForm.inputOffset.$invalid}">
                        <label for="inputOffset">Offset</label>

                        <input type="number" name="inputOffset" id="inputOffset"
                               placeholder="Optionele offset"
                               ng-model="republish.offset"
                                />
                        <poms-invalid violation="controller.violations.offset"></poms-invalid>
                    </div>
                </div>

                <div class="row">
                    <div class="field col-6" ng-class="{'has-error' : editLocationForm.inputMax.$invalid}">
                        <label for="inputMax">Maximum aantal</label>

                        <input type="number" name="inputMax" id="inputMax"
                               placeholder="Optionele limiet"
                               ng-model="republish.max"
                                />
                        <poms-invalid violation="controller.violations.max"></poms-invalid>
                    </div>
                </div>
            </div>

        </div>

        <div class="modal-disable-overlay"></div>

    </div>

    <div class="footer-container">
        <div class="footer modal-footer footer-two-buttons">
            <div class="footer-message">
                &nbsp;
            </div>
            <button class="btn-rect" ng-click="republishController.submit()" ng-disabled="waiting"> Herpubliceer! </button>
            <button class="btn-rect btn-rect-cancel" ng-click="republishController.cancel($event)">Annuleer</button>

        </div>
    </div>
</form>
