<div class="media-data media-section-general" ng-controller="EditController as editController">

  <div class="media-section-general-left">

    <div id="{{generalsection}}" class="media-section media-sub-section">

      <poms-viewer media="media" size="small"></poms-viewer>

      <poms-editable type="media" media="media" class="media-field" fieldtype="title" field="mainTitle"></poms-editable>

      <poms-editable type="media" media="media" class="media-field" fieldtype="title" field="subTitle"></poms-editable>

      <poms-editable type="media" media="media" class="media-field" fieldtype="title" field="shortTitle"></poms-editable>

      <poms-editable type="media" media="media" class="media-field" fieldtype="title"
                     field="abbreviationTitle"></poms-editable>

      <poms-editable type="media" media="media" class="media-field" fieldtype="title" field="workTitle"></poms-editable>

      <poms-editable type="media" media="media" class="media-field" fieldtype="title"
                     field="originalTitle"></poms-editable>

      <poms-editable type="media" media="media" class="media-field" fieldtype="title" field="lexicoTitle"></poms-editable>

      <poms-editable type="media" media="media" class="media-field" fieldtype="description"
                     field="mainDescription"></poms-editable>

      <poms-editable type="media" media="media" class="media-field" fieldtype="description"
                     field="shortDescription"></poms-editable>

      <poms-editable type="media"
                     media="media" class="media-field"
                     fieldtype="title"
                     field="kickerDescription"></poms-editable>
    </div>

    <div id="{{labelssection}}" class="media-section media-sub-section">

      <h1 class="editfield-wrapper media-section-title">Labels</h1>

      <poms-genres type="media" class="media-field" media="media" header="Genres"
                     help-field="editor.general.genres"></poms-genres>

      <poms-multi type="media" class="media-field" media="media" header="Tags" load="editController.getTags()"
                    save="editController.setTags(data)" options="editController.tags(data)" permission="tags"
                    placeholder="Kies een tag..." help-field="editor.general.tags"></poms-multi>

      <poms-ownedlists name="targetGroups" type="media" class="media-field" media="media" header="Doelgroep" label="doelgroep"
                       options="getTargetGroups"
                       load="getTargetGroups"
                       save="setTargetGroups" remove-all="removeTargetGroups"
                       help-field="editor.general.targetGroups"></poms-ownedlists>

      <poms-ownedlists name="intentions" type="media" class="media-field" media="media" header="Intenties" label="intenties"
                         options="getIntentions" load="getIntentions"
                       save="setIntentions" remove-all="removeIntentions" help-field="editor.general.intentions"></poms-ownedlists>

      <poms-credits type="media" class="media-field" header="Naamsvermeldingen" media="media"
                         load="editController.getCredits()"
                         options="editController.allowedRoles()"
                         option-title="Rol" option-field="role"
                         permission="credits" single-name="Naamsvermelding" help-field="editor.general.credits"></poms-credits>

      <poms-geolocations type="media" class="media-field" header="Geografische locaties" media="media"
                           load="editController.getGeoLocations()"
                           options="editController.allowedRoles()"
                           option-title="Rol" option-field="role"
                           permission="geoLocation" single-name="GeoLocation" help-field="editor.general.geoLocations"></poms-geolocations>

      <poms-topics type="media" class="media-field" header="Onderwerpen" media="media"
                         load="editController.getTopics()"
                         options="editController.allowedRoles()"
                         option-title="Rol" option-field="role"
                         permission="topic" single-name="Topic" help-field="editor.general.topics"></poms-topics>

      <poms-multi type="media" class="media-field" media="media" header="Websites" load="editController.getWebsites()"
                  save="editController.setWebsites(data)" permission="websites" placeholder="Websites (http://...)"
                  help-field="editor.general.websites"></poms-multi>

      <poms-multi type="media" class="media-field" media="media" header="Email" load="editController.getEmail()"
                  save="editController.setEmail(data)" permission="email" placeholder="Email (.@..)"
                  help-field="editor.general.email"></poms-multi>

      <poms-multi type="media" class="media-field" media="media" header="Twitter" load="editController.getTwitterRefs()"
                  save="editController.setTwitterRefs(data)" permission="twitterRefs"
                  placeholder="Twitteraccount of hashtag (@../#..)" help-field="editor.general.twitter"></poms-multi>

    </div>

  </div>

  <div class="media-publication media-section-general-right">

    <div class="media-static-fields">

      <div class="media-static-field media-mid">
        <h2 class="small-header media-static-field-title">MID</h2>
        <p class="media-static-field-content" >
          <poms-clipboard field="media.mid"></poms-clipboard>
        </p>
        <div class="media-field-tools">
          <poms-help field="editor.general.mid"></poms-help>
        </div>
      </div>

      <div class="media-static-field media-workflow" status-feedback status="{{media.workflow.id}}">
        <h2 class="small-header media-static-field-title">Status</h2>
        <poms-workflow mid="::media.mid" workflow="media.workflow" media="media"></poms-workflow>

        <div class="media-field-tools">
          <poms-help field="editor.general.workflow"></poms-help>
        </div>

      </div>

      <div class="media-static-field" ng-if="media.mergedTo">
        <h2 class="small-header media-static-field-title">Vervanger</h2>
        <a title="Deze media is samengevoegd en vervangen door {{media.mergedTo}}"
           href="{{editController.editRef(media.mergedTo)}}"> {{media.mergedTo}}</a>

        <div class="media-field-tools">
          <poms-help field="editor.general.mergedTo"></poms-help>
        </div>

      </div>

      <div class="media-static-field" ng-if="media.mergedFrom.length > 0">
        <h2 class="small-header media-static-field-title">Vervangt</h2>

        <span ng-repeat="mergedFrom in media.mergedFrom">
            <a title="Deze media vervangt {{mergedFrom}}"
               href="{{editController.editRef(mergedFrom)}}">{{mergedFrom}}</a><span ng-if="! $last">, </span>
            </span>
      </div>

      <div class="media-static-field" ng-if="::media.scheduleEvents[0]">

        <h2 class="small-header media-static-field-title">Uitzending ({{::media.scheduleEvents.length}})</h2>

        <a class="media-schedule-events" title="bekijk alle uitzenddata"
           ng-click="editController.showAllEvents(media.scheduleEvents)">
          {{ ::media.scheduleEvents[0].start | mediaDateTime}} ({{ ::media.scheduleEvents[0].channel.text }})
        </a>

        <div class="media-field-tools">
          <poms-help field="editor.general.scheduleEvents"></poms-help>
        </div>

      </div>

      <div class="media-static-field" ng-if="::media.scheduleEvents[0].textPage">

        <h2 class="small-header media-static-field-title">Teletekst</h2>

        <span style="display:block;" ng-if="::media.scheduleEvents[0].textPage">Informatie: {{::media.scheduleEvents[0].textPage}}</span>
        <span style="display:block;" ng-if="::media.scheduleEvents[0].textSubtitles">Ondertiteling: 888</span>

        <div class="media-field-tools">
          <poms-help field="editor.general.scheduleEvents"></poms-help>
        </div>

      </div>

      <div class="media-static-field">
        <h2 class="small-header media-static-field-title">Sorteerdatum</h2>
        <p class="media-static-field-content"> {{media.sortDate | mediaDateTime}}</p>

        <div class="media-field-tools">
          <poms-help field="editor.general.sortDate"></poms-help>
        </div>

      </div>

      <poms-editable
              type="media"
              media="media"
              class="media-field"
              fieldtype="radiolist"
              static="true"
              options="targetTypesObjects"
              ng-init="editController.loadTargetTypes()"
              header="Type" field="type" help-field="editor.general.type"></poms-editable>


      <div class="media-static-field">
        <h2 class="small-header media-static-field-title">XML</h2>
        <a title="open de xml voor dit item in een nieuw venster" target="blank"
           href="{{::(media.mid | xmlLocationPrefix) }}">bekijk in xml-formaat </a>
        (<a title="open de xml voor dit item in een nieuw venster" target="blank"
           href="{{::(media.mid | xmlLocationPrefix) }}?publicationFilter=true">gepubliceerd</a>)
        <div class="media-field-tools">
          <poms-help field="editor.general.xml"></poms-help>
        </div>
      </div>

      <div class="media-static-field" ng-if="media.owners">
        <h2 class="small-header media-static-field-title">Tekstbronnen</h2>
        <span ng-repeat="owner in media.owners"><a class="media-data-owners-link"
                                                   ng-click="editController.showOwnerData(owner);"
                                                   title="toon de data afkomstig van deze bron">{{owner.text}}</a><span
                ng-if="! $last">, </span></span>
        <div class="media-field-tools">
          <poms-help field="editor.general.owners"></poms-help>
        </div>
      </div>

      <div class="media-static-field" ng-if="media.owners">
        <h2 class="small-header media-static-field-title">&nbsp;</h2>
        <a class="media-data-owners-link" ng-click="editController.showAllOwnerData(media.owners);"
           title="toont de data afkomstig van alle bronnen">
          Alle bronnen
        </a>
        <div class="media-field-tools">
          <poms-help field="editor.general.owners"></poms-help>
        </div>
      </div>

      <div ng-if="media.poSequenceInformation" class="media-static-field media-sequenceinfo">
        <h2 class="small-header media-static-field-title">Seizoensinformatie</h2>
        <p class="media-static-field-content">{{::media.poSequenceInformation}}</p>

        <div class="media-field-tools">
          <poms-help field="editor.general.sequenceinformation"></poms-help>
        </div>

      </div>

      <div ng-if="media.mayHaveLocations" class="media-static-field">
        <h2 class="small-header media-static-field-title">Streaming platformstatus</h2>
        <p class="media-static-field-content"> {{media.streamingPlatformStatus.text}}</p>
        <div class="media-field-tools">
          <poms-help field="editor.general.streamingPlatformStatus"></poms-help>
        </div>

      </div>

      <div ng-if="media.extraLinks" class="media-static-field">
        <div ng-repeat="(key, value) in media.extraLinks">
          <h2 class="small-header media-static-field-title">{{key}}</h2>
          <p class="media-static-field-content">
            <span ng-repeat="link in value">
              <a href="{{link.href}}" ng-if="link.method == 'GET'" target="{{key}}">
                <img ng-if="link.img" ng-src="{{link.img}}" height=20 width=20 alt="{{link.text}}" />
                <span ng-if="!link.img">{{link.text}}</span>
              </a>
              <span ng-if="link.method == 'POST' && media.permissions.WRITE">
                <img style="cursor: pointer" ng-if="link.img" ng-src="{{link.img}}" height=20 width=20 alt="{{link.text}}" ng-click="editController.postLink(media, link.href)" />
                <span ng-if="!link.img">{{link.text}}</span>
              </span>
            </span>
          </p>
        </div>

      </div>

    </div>

    <div class="media-section-general-right-header media-header-publication">
      Publicatie
    </div>

    <poms-daterangepicker type="media" media="media" class="media-field" header="Datum online / offline"
                          field="publication" help-field="editor.general.publication"></poms-daterangepicker>

    <poms-editable type="media" media="media" class="media-field" fieldtype="number" header="Jaar" field="year"
                   help-field="editor.general.year"></poms-editable>

    <poms-editable type="media" media="media" class="media-field" fieldtype="duration" header="Speelduur"
                   field="duration" help-field="editor.general.duration"></poms-editable>

    <poms-editable type="media" media="media" class="media-field" fieldtype="radiolist"
                   options='avTypes'
                   header="AV-Type" field="avType" help-field="editor.general.avType"></poms-editable>

    <poms-broadcasters type="media" media="media" class="media-field" header="Omroepen" placeholdertext="omroep"
                       field="broadcasters" options='editController.broadcasters'
                       allowed-broadcasters='editController.allowedBroadcasters'
                       allowed-portals='editController.allowedPortals'
                       help-field="editor.general.broadcasters"></poms-broadcasters>

    <poms-broadcasters type="media" media="media" class="media-field" header="Portals" placeholdertext="portal"
                       field="portals" options='editController.portals'
                       allowed-broadcasters='editController.allowedBroadcasters'
                       allowed-portals='editController.allowedPortals'
                       help-field="editor.general.portals"></poms-broadcasters>

    <poms-dropdown type="media" media="media" class="media-field" header="Landen" placeholdertext="land"
                   field="countries" options='editController.countries'
                   help-field="editor.general.countries"></poms-dropdown>

    <poms-dropdown type="media" media="media" class="media-field" header="Talen" placeholdertext="taal"
                   field="languages" options='editController.languages'
                   help-field="editor.general.languages"></poms-dropdown>

    <poms-edit-checkbox
            class="media-field" header="Nagesynchroniseerd" field="isDubbed"
            help-field="editor.general.isDubbed"></poms-edit-checkbox>

    <div class="media-field">

      <!-- .may-write below is just for hover purposes-->
      <div
              ng-if="media.mayHaveLocations"
              ng-class="{ 'empty': media.subtitles.length == 0,
              'may-write' : editController.mayWriteSubtitles(media),
              'forbidden' : !editController.mayReadSubtitles(media),
              'waiting': waiting}"
                class="editfield-wrapper" title="Toon alle ondertitels en hun eventuele offsets"
      >
        <div ng-click="editController.showSubtitles()">
          <h2 class="small-header">Ondertitels</h2>
          <span ng-repeat="subtitle in media.subtitles">
            <a title="open de ondertitels voor dit item in een nieuw venster"
               target="blank"
               ng-click="$event.stopPropagation();"
               href="{{::(media.mid + '/' + subtitle.language + '/' + subtitle.type.id | subtitlesLocationPrefix)  + '/vtt?guessOffset=true'}}">{{subtitle.displayLanguage}}</a><span
                  ng-if="! $last">, </span>
          </span>
          <div class="media-field-tools">
            <div class="edit-icon" ng-if="editController.mayWriteSubtitles( media )"></div>
            <div class="preview-icon" ng-if=" ! editController.mayWriteSubtitles( media )"></div>
            <poms-help field="editor.general.subtitles"></poms-help>
          </div>
        </div>
        <div>
          <button class="btn-text-icon btn-text-icon-add-member-of"
                  ng-if="editController.mayWriteSubtitles( media )"
                  ng-click="editController.uploadSubtitle()">
            Ondertitel toevoegen
          </button>
        </div>
      </div>
    </div>
    <div class="media-section-general-right-header media-header-appears-in">
      Hi&euml;rarchie
    </div>

    <div class="media-field not-editable" ng-if="media.segmentOf">
      <h2 class="small-header">Segment van</h2>
      <p class="member-wrapper">
        <a class="media-segment-of-link" href="{{editController.editRef(media.segmentOf.id)}}">
          <span class="link-type">{{media.segmentOf.type.text}}</span>
          <span class="link-title">{{media.segmentOf.text}}</span> ({{ media.start ? (media.start  | mediaDuration) : "-geen start-" }})
        </a>
      </p>

      <div class="media-field-tools">
        <poms-help field="editor.general.segmentOf"></poms-help>
      </div>

    </div>

    <div class="media-field not-editable" ng-if="media.hasScheduleEvents">


      <h2 class='small-header'>Aflevering van</h2>

      <p ng-repeat="item in media.episodeOf" class="member-wrapper" poms-deleted="mediaController.onDeleteAncestor()"
         mid="item.id">
        <a class="media-episode-of-link" href="{{editController.editRef(item.id)}}">
          <span class="link-type" title="nummer {{item.number}}">{{item.type.text}}</span>
          <span class="link-title" title="{{item.id}}">{{item.text}} ({{item.id}})</span>
          <span class="link-number" ng-if="item.number">({{item.number}})</span>
        </a>
        <button title="koppeling verwijderen" ng-if="editController.mayWriteEpisodeOf(item)"
                class="media-member-remove" poms-confirm="'Koppeling'"
                poms-submit="editController.removeEpisodeOf( media,  item )">
          verwijder
        </button>
      </p>


      <button class="btn-text-icon btn-text-icon-add-member-of" ng-if="editController.mayWriteEpisodeOf( media )"
              ng-click="editController.addMemberOf( 'episodeOf' )">
        Maak aflevering van
      </button>

      <div class="media-field-tools">
        <poms-help field="editor.general.episodeOf"></poms-help>
      </div>

    </div>

    <div class="media-field not-editable">
      <h2 class="small-header">Onderdeel van</h2>

      <p ng-repeat="item in media.memberOf" class="member-wrapper">
        <a class="media-member-of-link"
           href="{{editController.editRef(item.id)}}"
           poms-deleted="mediaController.onDeleteAncestor()" mid="item.id">
          <span class="link-type" title="nummer {{item.number}}">{{item.type.text}}</span>
          <span class="link-title" title="{{item.id}}">{{item.text}} ({{item.id}})</span>
          <span class="link-number" ng-if="item.number">({{item.number}})</span>
        </a>
        <button title="koppeling verwijderen"
                ng-if="editController.mayWriteMemberOf( item )"
                class="media-member-remove"
                poms-confirm="'Koppeling'"
                poms-submit="editController.removeMemberOf( media,  item )">
          verwijder
        </button>
      </p>

      <button class="btn-text-icon btn-text-icon-add-member-of" ng-if="editController.mayWriteMemberOf( media )"
              ng-click="editController.addMemberOf( 'memberOf' )">
        Maak onderdeel van
      </button>

      <div class="media-field-tools">
        <poms-help field="editor.general.memberOf"></poms-help>
      </div>

    </div>

    <div class="media-section-general-right-header media-header-restrictions">
      Beperkingen
    </div>

    <poms-editable
            type="media"
            media="media"
            class="media-field"
            fieldtype="radiolist-icons"
            field="ageRating"
            options='editController.ageRatings'
            header="Kijkwijzer: leeftijd"
            class="rating"
            help-field="editor.general.ageRating"
    ></poms-editable>

    <poms-editable
            type="media"
            media="media"
            class="media-field"
            fieldtype="checklist-icons"
            path="contentRatings.entries"
            field="contentRatings"
            options='editController.contentRatings'
            header="Kijkwijzer: inhoud"
            class="rating"
            help-field="editor.general.contentRating"
    ></poms-editable>

    <poms-editable-modal
            class="media-field"
            header="Georestricties"
            media="media"
            load="editController.getGeoRestrictions()"
            options="editController.allowedGeoRestrictions()"
            platforms="editController.allowedPlatforms()"
            option-title="Regio"
            option-field="region"
            single-name="Restrictie"
            set-restriction="editController.setGeoRestriction(media, data)"
            remove-restriction="editController.removeGeoRestriction(media, source)"
            move-restriction="editController.moveGeoRestriction(media,from, to)"
            columns="editController.getGeoRestrictionColumns()"
            help-field="editor.general.geoRestriction"
    ></poms-editable-modal>

    <poms-editable-modal
            class="media-field"
            header="Portalrestricties"
            media="media"
            load="editController.getPortalRestrictions()"
            options="editController.allowedPortalRestrictions()"
            option-title="Portal"
            option-field="portal"
            single-name="Restrictie"
            set-restriction="editController.setPortalRestriction(media, data)"
            remove-restriction="editController.removePortalRestriction(media, source)"
            move-restriction="editController.movePortalRestriction(media, from, to)"
            columns="editController.getPortalRestrictionColumns()"
            help-field="editor.general.portalRestriction"
    ></poms-editable-modal>


    <poms-edit-checkbox
            class="media-field"
            header="Embedbaar"
            field="embeddable"
            help-field="editor.general.embeddable"></poms-edit-checkbox>



    <poms-editable
            ng-if="media.maySetFieldsForPlayer"
            type="media"
            media="media" class="media-field" fieldtype="radiolist"
            options='adoptQualityFromPlusOptions'
            header="NPO-Start met kwaliteit van NPO-Plus" field="adoptQualityFromPlus" help-field="editor.general.adoptQualityFromPlus"></poms-editable>


  </div>

</div>
