<div class="modal-header">
    <div class="modal-title"> Segment</div>
    <div class="modal-close-button" ng-click="itemizerController.cancel()"> close</div>
</div>

<form role="form" class="poms-form segmentForm" name="segmentForm" >

    <div class="modal-body" ng-class="{'waiting': waiting}">


        <div class="form-fields">

            <div class="col-8">

                <video ng-show='itemizerController.videoElement' id="video-player" class="framegrabber-container" style=""></video>
                <ng-include src="'util/akamaiVideoControlBar.html'"></ng-include>

                <div ng-if="media.avType.id == 'VIDEO' && itemizerController.mayUpload()" class="canvas-grab" ng-click="itemizerController.grabFrame()" > </div>

                <div class="clear"> </div>

                <div  class="row" >
                    <div class='field col-4 itemizer-start'>
                        <span class='itemizer-start-button' ng-click="itemizerController.markStart()">Zet huidige positie als starttijd</span>
                    </div>

                    <div class='field col-4 itemizer-stop'>
                        <span class='itemizer-stop-button' ng-click="itemizerController.markStop()">Zet huidige positie als stoptijd</span>
                    </div>

                </div>

                <div class="row">

                    <div class='field col-4 itemizer-start'>
                        <label for="inputStart">Starttijd &#42;
                            <span class="itemizer-segment-play" ng-click="itemizerController.playSegment()"> (speel vanaf)</span>
                        </label>
                        <input id="inputStart" type="text" ng-model="segment.formattedstart" placeholder="starttijd" ng-change="itemizerController.setStartValueAsMs()" />

                        <span class="error" ng-show="invalidTimes">De starttijd van een segment mag niet later zijn dan of gelijk zijn aan de stoptijd.</span>

                    </div>

                    <div class='field col-4 itemizer-stop'>
                        <label for="inputStop">Eindtijd &#42;
                            <span class="itemizer-segment-play" ng-click="itemizerController.playEnd()">(speel vanaf) </span>
                        </label>
                        <input id="inputStop" type="text" ng-model="segment.formattedstop" placeholder="stoptijd" ng-change="itemizerController.setStopValueAsMs()" />
                    </div>

                    <div class='field col-4 itemizer-stop'>
                        <label for="inputDuration">Speelduur
                        </label>
                        <input id="inputDuration" ng-disabled='true' type="text" ng-model="durationAsTime" placeholder="selecteer eerst een start- & stoptijd" />
                        <span class="error" ng-if="durationInvalid">De starttijd van een segment mag niet later zijn dan of gelijk zijn aan de stoptijd.</span>

                    </div>

                </div>


                <div class="row">
                    <div class="col-12">

                        <div class="field " ng-class="{'has-error' : segmentForm.inputTitle.$invalid}">
                            <label for="inputTitle">Titel &#42; </label>
                            <input  type="text" name="inputTitle" id="inputTitle" required
                                    placeholder="Titel (verplicht)"
                                    ng-model="segment.mainTitle"
                                    ng-disabled="waiting"/>
                            <poms-invalid violation="controller.violations.title"></poms-invalid>
                            <poms-help field="editor.segment.title"></poms-help>
                        </div>

                    </div>

                </div>

                <div class="row">
                    <div class="col-12">

                        <div class="field" ng-class="{'has-error' : segmentForm.inputDescription.$invalid}">
                            <label for="inputDescription">Beschrijving &#42;</label>
                            <textarea type="text" name="inputDescription" id="inputDescription" required
                                      placeholder="Korte beschrijving (verplicht)"
                                      ng-model="segment.mainDescription"
                                      ng-disabled="waiting"/>
                            <poms-invalid violation="controller.violations.description"></poms-invalid>
                            <poms-help field="editor.segment.description"></poms-help>
                        </div>

                    </div>

                </div>

            </div>

            <div class="col-4">

                <label>MP4 maken</label>

                <p> Het is mogelijk om een downloadable MP4 op te vragen van dit segment. Klik hiervoor op 'maak MP4'.</p>

                <p> Zodra het asset gemaakt is krijg je direct de link naar het geknipte videobestand. </p>

                <button class="live-editor-button" ng-if='!invalidTimes && !assetWaiting'
                        ng-click="itemizerController.createAsset()"> Maak MP4
                </button>

                <div ng-if="assetLink && !assetWaiting">
                    <button class="live-editor-button" ng-click="itemizerController.openAsset()">
                        <a href="{{assetLink}}">download MP4</a> <span ng-if="{{assetSize}}">({{assetSize}})</span>
                    </button>
                </div>

                <span ng-if="assetWaiting">
                    MP4 wordt gemaakt. Een moment geduld a.u.b.
                </span>


                <p>

                </p>

                <label>Afbeeldingen </label>

                <div ng-if="!itemizerController.mayUpload()">
                    <p>Je hebt niet de rechten om nieuwe plaatjes aan te maken in poms</p>
                </div>
                <div class="clear"></div>

                <div ng-if="media.avType.id == 'VIDEO' && itemizerController.mayUpload()">

                    <div class="image-preview" ng-if="still" style="background-image:url('{{still}}')">
                    </div>
                    <span ng-if="!still && stillLoading"> afbeelding wordt gemaakt</span>

                </div>

                <div class="clear"></div>

                <div ng-repeat="image in segmentImages"  class="segment-image" style="background-image: url('{{image | mediaGridImage }}')">
                </div>

                <p ng-show="!segmentImages.length && !still">Er zijn nog geen afbeeldingen gekoppeld aan dit segment.</p>
                <div class="error" ng-if="stillerror">
                    <label>Er is iets fout gegaan bij het maken van de afbeelding</label>
                    <pre>{{stillerror}}</pre>
                </div>


            </div>
        </div>

        <div class="modal-disable-overlay"></div>

    </div>


    <div class="footer-container">
        <div class="footer modal-footer footer-three-buttons" ng-class="{'waiting': waiting}">

            <div class="required-feedback footer-message" >
                <span class="required-feedback-message" ng-if="!segmentFormValid">Nog in te vullen:</span>
                <span class="required-field" ng-repeat='field in required' ng-if="(!segment[field.id].text)">{{field.text}}</span>
                <span class="required-field" ng-if='invalidTimes'> starttijd-stoptijd </span>
                &nbsp;
            </div>

            <button class="btn-rect" ng-click="itemizerController.save()" ng-disabled="!segmentFormValid || waiting">Bewaar en sluit</button>
            <button class="btn-rect" ng-click="itemizerController.saveAndNew()" ng-disabled="!segmentFormValid || waiting">Bewaar en nieuw</button>
            <button class="btn-rect btn-rect-cancel" ng-disabled="waiting" ng-click="itemizerController.cancel($event)">Annuleer</button>

        </div>
    </div>

</form>



