<div class="modal-header">
    <div class="modal-title"> {{ ::subtitlesController.title }}</div>
    <div class="modal-close-button" ng-click="subtitlesController.close()"> sluit</div>
</div>

<div class="modal-body">

    <table class="poms-table poms-table-subtitles">
        <thead>
        <tr class="poms-table-head-row">
            <!--<poms-help field=""></poms-help>-->
            <th class="poms-table-header">Taal</th>
            <th class="poms-table-header">Type
                <poms-help field="editor.general.subtitles.type"></poms-help>
            </th>
            <th class="poms-table-header">Authority
                <poms-help field="editor.general.subtitles.ownerType"></poms-help>
            </th>
            <th class="poms-table-header">Offset (mm:ss)
                <poms-help field="editor.general.subtitles.offset"></poms-help>
            </th>

            <th class="poms-table-header column-tools"></th>
        </tr>
        </thead>

        <tbody ng-model="subtitlesController.subtitles">

        <tr ng-repeat="item in subtitlesController.subtitles"
            ng-form="" editable-form name="rowform"
            oncancel="subtitlesController.cancel($index)"
            onbeforesave="subtitlesController.submit(item, $data)"
            class="poms-table-row"
            ng-class="{'editing': rowform.$visible, 'may-write': item.mayChange, 'disabledediting': ! rowform.$visible }">

            <td>
                <div>{{item.displayLanguage || item.language }}</div>
            </td>

            <td>
                <div>{{item.type }}</div>
            </td>

            <td>
                <div>{{item.owner }}</div>
            </td>
            <td>

                <div class="editable-duration">

                    <input
                            id="offset"
                            name="offset"
                            type="text"
                            class="editable"
                            ng-model="item.offset.string"
                            placeholder="{{durationPlaceholder}}"
                            ng-pattern="durationRegexp"
                            ng-show="item.mayChange"
                            form="{{item.id}}"
                    />
                </div>
                <div class="viewable">
                    {{ item.offset.string }}
                </div>
            </td>


            <td class="column-tools" ng-class="{'waiting': waiting}">
                <form
                      id="{{item.id}}"
                      ng-show="rowform.$visible"
                      class="form-buttons form-inline">
                    <button title='bewaar' type="submit" ng-disabled="rowform.$waiting || !rowform.$valid" class="btn btn-primary">
                        bewaar
                    </button>
                    <button title='annuleer' type="button"
                            ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()"
                            class="btn btn-default">
                        annuleer
                    </button>
                </form>
                <div class="tools" ng-show="!rowform.$visible">
                    <button title='bekijk de ondertiteling in een nieuw scherm'
                            class="poms-icon icon-preview"
                            ng-click="subtitlesController.showSubtitle( item )">
                        bekijk
                    </button>
                    <button title='bewerk'
                            class="poms-icon icon-edit"
                            ng-show="item.mayChange"
                            ng-click="rowform.$show()">
                        bewerk
                    </button>
                    <button title='delete'
                            class="poms-icon icon-remove"
                            ng-show="item.mayDelete"
                            ng-click="subtitlesController.deleteSubtitle( item )">
                        verwijder
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="footer-container">
    <div class="footer modal-footer footer-one-button">
        <div class="footer-message">&nbsp;</div>
        <button class="btn-rect" ng-click="subtitlesController.close()">Sluit</button>
    </div>
</div>
