/* Animation for save feedback */
@-webkit-keyframes saved {
    0% {
        background-color: transparent;
    }
    10% {
        background-color: $lichtgroen;
    }
    30% {
        background-color: $lichtgroen;
    }
    100% {
        background-color: transparent;
    }
}

@keyframes saved {
    0% {
        background-color: transparent;
    }
    10% {
        background-color: $lichtgroen;
    }
    30% {
        background-color: $lichtgroen;
    }
    100% {
        background-color: transparent;
    }
}

/////

.animate-fade.ng-hide-add.ng-hide-add-active,
.animate-fade.ng-hide-remove.ng-hide-remove-active,
.animate-fade.ng-enter, .animate-fade.ng-leave {
    -webkit-transition: opacity linear 0.2s;
    transition: opacity linear 0.2s;
}

.animate-fade.ng-hide,
.animate-fade.ng-enter,
.animate-fade.ng-leave.ng-leave-active {
    opacity: 0;
}

.animate-fade.ng-show,
.animate-fade.ng-leave,
.animate-fade.ng-enter.ng-enter-active {
    opacity: 1;
}


