.datepicker-dropdown {
  font-size: $fontsizemedium;

  div {
    display: inline-block;
  }
  .dropdown-menu {
    width: 258px;

    background-color: $white;

    position: absolute;

    z-index: $z-index-edit;
    margin: 0;
    margin-top: 8px;
    border: 1px solid $grijs;

    padding: 0;
    padding-bottom: 8px;

    li {
      padding: 0;
    }
  }

  li .btn-group {
    margin-left: 8px;
  }

  li .btn-group button,
  li .btn-success {
    line-height: 16px;
    color: $grijs;
    background-color: transparent;
    border: 1px solid $grijs;
    padding: 4px;

    &:hover {
      border-color: $oranje;
    }
  }

  button {
    border: none;
    cursor: pointer;
    padding: 0;

  }

  table {
    border-spacing: 2px;
    border-color: $grijs;
    border-collapse: collapse;
    margin: 0 auto;
  }

  .uib-datepicker th {
    font-weight: normal;
  }

  .uib-datepicker .ui-day th button,
  .uib-datepicker .uid-month th button,
  .uib-datepicker .uid-year th button {
    background-color: transparent;
  }

  .uib-datepicker th .uib-left {
    position: relative;
    top: 5px;
    width: 30px;
    height: 30px;
    display: inline-block;
    @include icon('arrow-left', 14px);
    span {
      display: none;
    }
  }

  .uib-datepicker th .uib-right {
    position: relative;
    top: 5px;
    width: 30px;
    height: 30px;
    display: inline-block;
    @include icon('arrow-right', 14px);
    span {
      display: none;
    }
  }

  .uib-datepicker tr {
    height: 30px;
    vertical-align: bottom;
    text-align: center;
  }

  .uib-datepicker .uib-datepicker-tr {
    vertical-align: middle;
    border-bottom: 1px solid $lichtgrijs;
  }

  .uib-datepicker tbody button {
    color: white;
    padding: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid;

    background-color: $lichtgrijs;

    &.active {
      background-color: $oranje;
    }

    &:hover {
      box-shadow: inset 0 0 0 1px $oranje;
    }

    >.text-muted {
      background-color: $extralichtgrijs;

    }

    &:disabled {
      background-color: $ultralichtgrijs;
    }

    box-sizing: border-box;

  }
}
