.datepicker-dropdown {
    font-size: $fontsizemedium;
}

.datepicker-dropdown .dropdown-menu {
    width: 258px;

    background-color: $white;

    position: absolute;

    z-index: $z-index-edit;
    margin: 0;
    margin-top: 8px;
    border: 1px solid $grijs;

    padding: 0;
    padding-bottom: 8px;

}

.datepicker-dropdown .dropdown-menu li {
    padding: 0;
}

.datepicker-dropdown li .btn-group {
    margin-left: 8px;
}

.datepicker-dropdown li .btn-group button,
.datepicker-dropdown li .btn-success {
    line-height: 16px;
    color: $grijs;
    background-color: transparent;
    border: 1px solid $grijs;
    padding: 4px;

    &:hover {
        border-color: $oranje;
    }
}

.datepicker button {
    border: none;
    cursor: pointer;
    padding: 0;

}

.datepicker table {
    border-spacing: 2px;
    border-color: $grijs;
    border-collapse: collapse;
    margin: 0 auto;
}

.datepicker-day th,
.datepicker-month th,
.datepicker-year th {
    font-weight: normal;
}

.datepicker-day th button,
.datepicker-month th button,
.datepicker-year th button {
    background-color: transparent;
}

.datepicker-day th .arrow-left,
.datepicker-month th .arrow-left,
.datepicker-year th .arrow-left {
    position: relative;
    top: 5px;
    width: 30px;
    height: 30px;
    display: inline-block;
    @include icon('arrow-left', 14px);
}

.datepicker-day th .arrow-right,
.datepicker-month th .arrow-right,
.datepicker-year th .arrow-right {
    position: relative;
    top: 5px;
    width: 30px;
    height: 30px;
    display: inline-block;
    @include icon('arrow-right', 14px);
}

.datepicker-day tr,
.datepicker-month tr,
.datepicker-year tr {
    height: 30px;
    vertical-align: bottom;
    text-align: center;
}

.datepicker-day .datepicker-tr,
.datepicker-month .datepicker-tr,
.datepicker-year .datepicker-tr {
    vertical-align: middle;
    border-bottom: 1px solid $lichtgrijs;
}

.datepicker-day tbody button,
.datepicker-month tbody button,
.datepicker-year tbody button {

    color: white;
    padding: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid;

    background-color: $lichtgrijs;

    &.active {
        background-color: $oranje;
    }

    &:hover {
        box-shadow: inset 0 0 0 1px $oranje;
    }

    &.text-muted {
        background-color: $extralichtgrijs;

    }

    &:disabled {
        background-color: $ultralichtgrijs;
    }

    box-sizing: border-box;

}
