.uib-datepicker-dropdown {
  font-size: $fontsizemedium;

  .uib-dropdown-menu {
    width: 258px;

    background-color: $white;

    position: absolute;

    z-index: $z-index-edit;
    margin: 0;
    margin-top: 8px;
    border: 1px solid $grijs;

    padding: 0;
    padding-bottom: 8px;
  }

  .uib-dropdown-menu li {
    padding: 0;
  }

  li .btn-group {
    margin-left: 8px;
  }

  li .btn-group button,
  li .btn-success {
    line-height: 16px;
    color: $grijs;
    background-color: transparent;
    border: 1px solid $grijs;
    padding: 4px;

    &:hover {
      border-color: $oranje;
    }
  }

  button {
    border: none;
    cursor: pointer;
    padding: 0;

  }

  table {
    border-spacing: 2px;
    border-color: $grijs;
    border-collapse: collapse;
    margin: 0 auto;
  }

  .uib-datepicker-day th,
  .uib-datepicker-month th,
  .uib-datepicker-year th {
    font-weight: normal;
  }

  .uib-datepicker-day th button,
  .uib-datepicker-month th button,
  .uib-datepicker-year th button {
    background-color: transparent;
  }

  .uib-datepicker-day th .arrow-left,
  .uib-datepicker-month th .arrow-left,
  .uib-datepicker-year th .arrow-left {
    position: relative;
    top: 5px;
    width: 30px;
    height: 30px;
    display: inline-block;
    @include icon('arrow-left', 14px);
  }

  .uib-datepicker-day th .arrow-right,
  .uib-datepicker-month th .arrow-right,
  .uib-datepicker-year th .arrow-right {
    position: relative;
    top: 5px;
    width: 30px;
    height: 30px;
    display: inline-block;
    @include icon('arrow-right', 14px);
  }

  .uib-datepicker-day tr,
  .uib-datepicker-month tr,
  .uib-datepicker-year tr {
    height: 30px;
    vertical-align: bottom;
    text-align: center;
  }

  .uib-datepicker-day .uib-datepicker-tr,
  .uib-datepicker-month .uib-datepicker-tr,
  .uib-datepicker-year .uib-datepicker-tr {
    vertical-align: middle;
    border-bottom: 1px solid $lichtgrijs;
  }

  .uib-datepicker-day tbody button,
  .uib-datepicker-month tbody button,
  .uib-datepicker-year tbody button {
    color: white;
    padding: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid;

    background-color: $lichtgrijs;

    &.active {
      background-color: $oranje;
    }

    &:hover {
      box-shadow: inset 0 0 0 1px $oranje;
    }

    &.text-muted {
      background-color: $extralichtgrijs;

    }

    &:disabled {
      background-color: $ultralichtgrijs;
    }

    box-sizing: border-box;

  }
}
