.viewer {
    padding-bottom: 16px;

    @include clearfix;
}

.viewer-title,
.viewer-subtitle,
.viewer-media-type,
.viewer-description {
    color: $grijs;
    margin-top: 0;
    margin-bottom: 0;
}

.viewer-title {
    font-size: 16px;
    font-weight: bold;
}

.viewer-subtitle,
.viewer-media-type,
.viewer-description {
    font-size: 12px;
}

.modal-preview .viewer-title {
    font-size: 30px;
    font-weight: bold;
}

.viewer-player ,
.npoplayer_wrapper {
    float: left;
    width: 200px;
    height: 150px;
    background-color: black;
    margin: 0 16px;
    position: relative;
}
.viewer-player.playing {
    width: 400px;
    height: 300px;
}

.viewer-placeholder {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

.viewer-info {
    padding-right: 20px;
}

.viewer-error {
    color: white;
    padding: 6px;
    display: block;
    position: absolute;
    top:0;
}

.viewer-play-button {
    position: absolute;

    left: 50%;
    top: 50%;

    margin-left: -20px;
    margin-top: -20px;

    width: 40px;
    height: 40px;

    background-color: transparent;
    @include icon('play', 60px);

    cursor: pointer;
}

.viewer-add-favorite {
    margin-top: 8px;
    padding-left: 18px;
    position: relative;

    cursor: pointer;

    color: $groen;
    font-size: $fontsizemedium;

    @include icon('favorite', 14px, '0 center');

    &:hover {
        @include icon('favorite_hover', 14px, '0 center');
    }
}

.modal-preview .viewer-player,
.modal-preview .npoplayer_wrapper {
    float: left;
    width: 410px;
    height: 275px;
    margin: 0;
    margin-bottom: 16px;
    margin-right: 16px;

}

.modal-preview .viewer-subtitle,
.modal-preview .viewer-media-type,
.modal-preview .viewer-description {
    font-size: 18px;
}
