<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>POMS</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" href="/favicons/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/favicons/favicon-16x16.png" sizes="16x16" />
    <link rel="manifest" href="/favicons/manifest.json" />
    <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#5bbad5" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta name="msapplication-config" content="/favicons/browserconfig.xml" />
    <meta name="theme-color" content="#ffffff" />


    <link rel="stylesheet" href="css/angular-xeditable/xeditable.css"/>
    <link rel="stylesheet" href="css/ng-toast/ngToast.min.css"/>
    <link rel="stylesheet" href="css/ng-toast/ngToast-animations.min.css"/>
    <link rel="stylesheet" href="css/angular-ui-tab-scroll/angular-ui-tab-scroll.css" />
    <link rel="stylesheet" href="css/akamai/controlbar.css">

    <link rel="stylesheet" href="css/poms-{version}.css"  />

    <!-- build:vendor js/vendor-{version}.js -->
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>

    <script src="../node_modules/stompjs/lib/stomp.min.js"></script>
    <script src="js/vendor/angular-ui/jquery-ui.min.js"></script>
    <script src="../node_modules/lodash/index.js"></script>
    <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="../node_modules/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="../node_modules/angular-i18n/angular-locale_nl-nl.js"></script>
    <script src="../node_modules/ng-file-upload/dist/angular-file-upload.min.js"></script>
    <script src="../node_modules/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script src="../node_modules/angular-route/angular-route.min.js"></script>
    <script src="../node_modules/angular-scroll/angular-scroll.min.js"></script>
    <script src="../node_modules/angular-clipboard/angular-clipboard.js"></script>
    <script src="../node_modules/angular-ui-tab-scroll/angular-ui-tab-scroll.js"></script>
    <script src="../node_modules/moment/moment.js"></script>
    <script src="js/vendor/ng-toast/ngToast.min.js"></script>
    <script src="js/vendor/angular-ui/angular-ui.min.js"></script>
    <!-- we use ui-bootstrap-custom-0.12.0.js instead of a npm installed version, because we modified the source (view the file's history)-->
    <script src="js/vendor/angular-ui/ui-bootstrap-custom-0.12.0.js"></script>
    <script src="js/vendor/angular-xeditable/xeditable.min.js"></script>
    <script src="js/vendor/angular-xeditable/checklist-model.js"></script>
    <script src="js/vendor/ui-select/select.min.js"></script>
    <script src="js/vendor/angular.rangeSlider.js"></script>
    <script src="js/vendor/akamai/controlbar/ControlBar.js"></script>

    <!-- endbuild -->

    <script src="//cdnjs.cloudflare.com/ajax/libs/dashjs/2.6.6/dash.all.min.js" type="application/javascript"></script>
    <script src="//cdn.jsdelivr.net/sockjs/1/sockjs.min.js"></script>

</head>

<body id="scroll-spy-top" ng-app="poms" poms-alert
      ng-controller="GuiController as guiController">


<div class="poms-loader" ng-if="!guiController.loaded">
    <div class="loading-text">
        <img src="resources/images/poms-loader.gif"/>
        Loading...
    </div>
</div>

<nav class="header" ng-if="guiController.loaded">
  <span class="header-title">
    <a class="header-logo" href="javascript:void(0)" ng-click="guiController.openInfo()">
      <img class="header-logo-image" src="resources/images/npo-poms.svg" alt="POMS"/>
    </a>
  </span>

    <a title="Nieuw item toevoegen"
       id="newItem"
       class="header-link header-link-new" href="javascript:void(0)"
       ng-click="guiController.newMedia()">NIEUW</a>

    <a title="Nieuwe zoekopdracht" class="header-link header-link-new"
       id="newSearchTab"
       href="javascript:void(0)"
       ng-click="guiController.newSearch()">ZOEKEN</a>

    <a class="header-link header-link-new" href="javascript:void(0)" ng-click="guiController.openLiveEditor()">LiveKnipper</a>

    <div class="header-account-details" ng-class="{'open': (adminDropdown.isopen || userDropdown.isopen)}">

        <div class="header-account-buttons">

            <div class="header-account-link">
                <span id="currentUser" ng-class="{'open': (userDropdown.isopen)}"
                      ng-click="guiController.toggleUserDropdown($event)">
                    {{::guiController.editor.text}}</span>
            </div>

            <div class="header-account-link no-border " ng-if="guiController.showOwnerMis()">
                <span class="header-account-owner" ng-click="guiController.openOwnerInfo()"> (NPO gebruiker {{guiController.currentOwnerTypeToShow()}})</span>
            </div>

            <div class="header-account-link">
                <span class="btn-text-icon btn-text-icon-favorite"
                     ng-click="guiController.openFavorites()" >
                    mijn favorieten
                </span>
            </div>

            <div class="header-account-link">
                <span class="btn-text-icon btn-text-icon-help">
                    <a title="Uitleg over de interface van POMS"
                   href="http://wiki.publiekeomroep.nl/display/poms/Gebruikersdocumentatie" target="blank">support</a>
                </span>
            </div>

            <div class="header-account-link" ng-if="::guiController.showAdmin()">
                <span class="btn-text-icon btn-text-icon-admin"
                 ng-class="{'open': (adminDropdown.isopen)}" ng-click="guiController.toggleAdminDropdown($event)">
                    admin
                </span>
            </div>

        </div>

        <div class="header-account-dropdowns">

            <div class="header-dropdown" dropdown is-open="userDropdown.isopen">
                <ul class="header-dropdown-menu" role="menu">
                    <li><a href="javascript:void(0)" ng-click="guiController.editAccount()">account-instellingen</a>
                    </li>

                    <li><a href="javascript:void(0)" ng-click="guiController.openTranscodings()">mijn uploads</a>
                    </li>

                    <li><a href="javascript:void(0)" ng-click="guiController.closeAllTabs( $event )" >sluit alle tabs</a>
                    </li>

                    <li><a href="javascript:void(0)" ng-click="guiController.logOut()">log uit</a></li>
                </ul>
            </div>

            <div class="header-dropdown" dropdown is-open="adminDropdown.isopen">
                <ul class="header-dropdown-menu" role="menu" ng-controller="AdminController as adminController">
                    <li><a href="javascript:void(0)" ng-click="adminController.editBroadcasters()">omroepen</a></li>
                    <li><a href="javascript:void(0)" poms-confirm="'Bestaande indexen'"
                           poms-submit="adminController.indexMedia()">herindexeer</a></li>
                    <li><a href="javascript:void(0)" ng-click="adminController.republishMedia()">herpubliceer</a></li>
                </ul>
            </div>
        </div>

    </div>
</nav>


<div class="tabset" ng-if="guiController.loaded">

    <scrollable-tabset api="guiController.scrlTabsApi">


    <tabset>

        <tab ng-repeat="tab in guiController.tabs"
             class="tab tab-{{tab.type}} tab-media-{{tab.item.workflow.id}} {{tab.mayWrite}}"
             active="tab.active"
             select="guiController.initTab(tab)">

            <tab-heading class="tab-heading ">

                <span ng-if="tab.type=='edit'">
                    <span class="tab-subtitle">{{::tab.item.type.text }}</span>
                    <span class="tab-title" title="{{ tab.item.mainTitle.text }}">{{ tab.item.mainTitle.text }}</span>
                    <span class="tab-close" title="sluit deze tab"
                          ng-click="guiController.removeTab($index)">close</span>
                </span>

                <span ng-if="tab.type=='search'">
                    <span class="tab-subtitle">Zoeken</span>
                    <span class="tab-title" title="{{tab.item.form.summary}}"> {{ tab.item.form.summary }}</span>
                    <span class="tab-close" title="sluit deze tab"
                          ng-click="guiController.removeTab($index)">close</span>
                </span>

            </tab-heading>

            <poms-editor ng-if="tab.type =='edit' && !tab.reload" media="tab.item"></poms-editor>

            <poms-search-tab ng-if="tab.type=='search'" id="search-{{tab.id}}" search="tab.item"></poms-search-tab>

        </tab>

        <tab title='open een nieuwe zoek-tab' ng-click="guiController.newSearch()" class="tab-add"></tab>

    </tabset>
    </scrollable-tabset>

</div>


<poms-notifications>
    <toast></toast>
</poms-notifications>


<!-- build:poms js/poms-{version}.js -->

<script src="js/poms/modules/editor/editor.js"></script>
<script src="js/poms/modules/editor/services/EditorService.js"></script>

<script src="js/poms/modules/list/list.js"></script>
<script src="js/poms/modules/list/services/ListService.js"></script>

<script src="js/poms/modules/gtaa/gtaa.js"></script>
<script src="js/poms/modules/gtaa/services/GtaaService.js"></script>
<script src="js/poms/modules/gtaa/controllers/GtaaPersonEditController.js"></script>

<script src="js/poms/modules/ui/ui.js"></script>
<script src="js/poms/modules/ui/multidropdown/multidropdown.js"></script>

<script src="js/poms/modules/messages/messages.js"></script>
<script src="js/poms/modules/messages/services/MessageService.js"></script>
<script src="js/poms/modules/messages/services/NotificationService.js"></script>
<script src="js/poms/modules/messages/controllers/MessageController.js"></script>

<script src="js/poms/modules/search/search.js"></script>
<script src="js/poms/modules/search/controllers/ModalSearchController.js"></script>
<script src="js/poms/modules/search/controllers/SearchFormController.js"></script>
<script src="js/poms/modules/search/controllers/SearchResultController.js"></script>
<script src="js/poms/modules/search/controllers/SearchTabController.js"></script>
<script src="js/poms/modules/search/controllers/PreviewController.js"></script>

<script src="js/poms/modules/search/directives/PomsPager.js"></script>
<script src="js/poms/modules/search/directives/PomsSearchColumns.js"></script>
<script src="js/poms/modules/search/directives/PomsSearch.js"></script>

<script src="js/poms/modules/search/services/SearchService.js"></script>
<script src="js/poms/modules/search/services/SearchFactory.js"></script>

<script src="js/poms/modules/media/media.js"></script>
<script src="js/poms/modules/media/controllers/ConfirmController.js"></script>
<script src="js/poms/modules/media/controllers/CreateController.js"></script>
<script src="js/poms/modules/media/controllers/BulkUpdateController.js"></script>
<script src="js/poms/modules/media/controllers/EditController.js"></script>
<script src="js/poms/modules/media/controllers/EditHistoryController.js"></script>
<script src="js/poms/modules/media/controllers/ImagesController.js"></script>
<script src="js/poms/modules/media/controllers/ImageEditController.js"></script>
<script src="js/poms/modules/media/controllers/ItemizerNEPController.js"></script>
<script src="js/poms/modules/media/controllers/PredictionsController.js"></script>
<script src="js/poms/modules/media/controllers/PredictionEditController.js"></script>
<script src="js/poms/modules/media/controllers/LocationsController.js"></script>
<script src="js/poms/modules/media/controllers/LocationEditController.js"></script>
<script src="js/poms/modules/media/controllers/LocationUploadController.js"></script>
<script src="js/poms/modules/media/controllers/MediaController.js"></script>
<script src="js/poms/modules/media/controllers/MembersController.js"></script>
<script src="js/poms/modules/media/controllers/ModalMergeController.js"></script>
<script src="js/poms/modules/media/controllers/ModalTableEditController.js"></script>
<!--
<script src="js/poms/modules/media/controllers/PortalRestrictionsController.js"></script>
<script src="js/poms/modules/media/controllers/GeoRestrictionsController.js"></script>
-->
<script src="js/poms/modules/media/controllers/OwnerController.js"></script>
<script src="js/poms/modules/media/controllers/OwnersController.js"></script>
<script src="js/poms/modules/media/controllers/PersonsController.js"></script>
<script src="js/poms/modules/media/controllers/MultiEditController.js"></script>
<script src="js/poms/modules/media/controllers/RelationsController.js"></script>
<script src="js/poms/modules/media/controllers/RelationEditController.js"></script>
<script src="js/poms/modules/media/controllers/SegmentsController.js"></script>
<script src="js/poms/modules/media/controllers/SegmentEditController.js"></script>
<script src="js/poms/modules/media/controllers/ScheduleEventsOverviewController.js"></script>
<script src="js/poms/modules/media/controllers/ScheduleEventEditController.js"></script>
<script src="js/poms/modules/media/controllers/PersonEditController.js"></script>
<script src="js/poms/modules/media/controllers/SaveConfirmController.js"></script>
<script src="js/poms/modules/media/controllers/ScheduleEventsController.js"></script>
<script src="js/poms/modules/media/controllers/SubtitlesController.js"></script>
<script src="js/poms/modules/media/controllers/SubtitleUploadController.js"></script>
<script src="js/poms/modules/media/controllers/TooManyDescendantsController.js"></script>

<script src="js/poms/modules/media/directives/PomsEdit.js"></script>
<script src="js/poms/modules/media/directives/PomsEditCheckbox.js"></script>
<script src="js/poms/modules/media/directives/PomsEditDaterange.js"></script>
<script src="js/poms/modules/media/directives/PomsEditFields.js"></script>
<script src="js/poms/modules/media/directives/PomsEditGenres.js"></script>
<script src="js/poms/modules/media/directives/PomsEditMulti.js"></script>
<script src="js/poms/modules/media/directives/PomsEditModal.js"></script>
<!--
<script src="js/poms/modules/media/directives/PomsGeoRestrictionsModal.js"></script>
<script src="js/poms/modules/media/directives/PomsPortalRestrictionsModal.js"></script>
-->
<script src="js/poms/modules/media/directives/PomsEditPersons.js"></script>
<script src="js/poms/modules/media/directives/PomsEditBroadcastersPortals.js"></script>
<script src="js/poms/modules/media/directives/PomsEditDropdown.js"></script>
<script src="js/poms/modules/media/directives/showFeedback.js"></script>
<script src="js/poms/modules/media/directives/PomsEditTools.js"></script>
<script src="js/poms/modules/media/directives/PomsOwner.js"></script>

<script src="js/poms/modules/media/directives/PomsMemberColumns.js"></script>
<script src="js/poms/modules/media/directives/PomsImagesColumns.js"></script>
<script src="js/poms/modules/media/directives/PomsSegmentColumns.js"></script>
<script src="js/poms/modules/media/directives/PomsPredictionColumns.js"></script>
<script src="js/poms/modules/media/directives/PomsLocationColumns.js"></script>
<script src="js/poms/modules/media/directives/PomsScheduleEventsColumns.js"></script>

<script src="js/poms/modules/media/services/EditFieldService.js"></script>
<script src="js/poms/modules/media/services/BulkUpdateService.js"></script>
<script src="js/poms/modules/media/services/EditService.js"></script>
<script src="js/poms/modules/media/services/MediaService.js"></script>
<script src="js/poms/modules/media/services/MergeService.js"></script>
<script src="js/poms/modules/media/services/NEPService.js"></script>
<script src="js/poms/modules/media/services/NpoPlayerService.js"></script>
<script src="js/poms/modules/media/services/SubtitlesService.js"></script>
<script src="js/poms/modules/media/services/UploadService.js"></script>


<script src="js/poms/modules/util/util.js"></script>
<script src="js/poms/modules/util/directives/PomsFavoriteFeedback.js"></script>
<script src="js/poms/modules/util/directives/PomsAlert.js"></script>
<script src="js/poms/modules/util/directives/PomsConfirm.js"></script>
<script src="js/poms/modules/util/directives/PomsClipboard.js"></script>
<script src="js/poms/modules/util/directives/PomsEvents.js"></script>
<script src="js/poms/modules/util/directives/PomsUiFadeToggle.js"></script>
<script src="js/poms/modules/util/directives/PomsInvalid.js"></script>
<script src="js/poms/modules/util/directives/PomsDateRange.js"></script>
<script src="js/poms/modules/util/directives/PomsHelp.js"></script>
<script src="js/poms/modules/util/directives/PomsUiSelect.js"></script>
<script src="js/poms/modules/util/directives/PomsViewer.js"></script>
<script src="js/poms/modules/util/directives/PomsWorkflow.js"></script>
<script src="js/poms/modules/util/controllers/AlertController.js"></script>

<script src="js/poms/modules/util/filters/Filter.js"></script>

<script src="js/poms/modules/admin/admin.js"></script>
<script src="js/poms/modules/admin/controllers/AdminController.js"></script>
<script src="js/poms/modules/admin/controllers/BroadcastersController.js"></script>
<script src="js/poms/modules/admin/controllers/RepublishController.js"></script>
<script src="js/poms/modules/admin/services/AdminService.js"></script>

<script src="js/poms/constants.js"></script>

<script src="js/poms/app.js"></script>

<script src="js/poms/services/GuiService.js"></script>
<script src="js/poms/services/HelpService.js"></script>
<script src="js/poms/services/FavoritesService.js"></script>
<script src="js/poms/services/InfoService.js"></script>

<script src="js/poms/controllers/AccountController.js"></script>
<script src="js/poms/controllers/GuiController.js"></script>
<script src="js/poms/controllers/FavoritesController.js"></script>
<script src="js/poms/controllers/InfoController.js"></script>
<script src="js/poms/controllers/LiveEditorController.js"></script>
<script src="js/poms/controllers/OwnerInfoController.js"></script>
<script src="js/poms/controllers/TranscodingsController.js"></script>

<script src="views/templates.js" charset="UTF-8"></script>
<!-- endbuild -->


<!-- build:remove -->
<!-- live reload server -->
<script>
  document.write('<script src="'+ location.protocol +'//' + (location.host || 'localhost').split(':')[0] +
  ':35729/livereload.js?snipver=1"></' + 'script>')
</script>
<!-- enbuild -->

</body>
</html>
