<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="UTF-8">
  <title>POMS</title>
  <link rel="apple-touch-icon" sizes="180x180" href="{domain}/favicons/apple-touch-icon.png" />
  <link rel="icon" type="image/png" href="{domain}/favicons/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="{domain}/favicons/favicon-16x16.png" sizes="16x16" />
  <link rel="manifest" href="{domain}/favicons/manifest.json" />
  <link rel="mask-icon" href="{domain}/favicons/safari-pinned-tab.svg" color="#5bbad5" />
  <link rel="shortcut icon" href="{domain}/favicon.ico" />


  <meta name="msapplication-config" content="${domain}/favicons/browserconfig.xml" />
  <meta name="theme-color" content="#ffffff" />


  <link rel="stylesheet" href="../node_modules/angular-xeditable/dist/css/xeditable.css"/>
  <link rel="stylesheet" href="../node_modules/ng-toast/dist/ngToast.css"/>
  <link rel="stylesheet" href="../node_modules/ng-toast/dist/ngToast-animations.min.css"/>
  <link rel="stylesheet" href="../node_modules/angular-ui-tab-scroll/angular-ui-tab-scroll.css" />
  <link rel="stylesheet" href="./css/akamai/controlbar.css">
  <link rel="stylesheet" href="./css/poms-{version}.css"  />


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icons/6.11.1/css/flag-icons.min.css"
        integrity="sha512-ZQKxM5Z+PmOVa/VmISvHcqlUgzPejY92+I+sur69qiB7Vd+dAaDNMwy7AnRr6HcFbYY4so1FFPBgugE5s2jm7Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="{domain}/kijkwijzer/kijkwijzer.css" />


  <!-- build:vendor js/vendor-{version}.js -->
  <script src="../node_modules/jquery/dist/jquery.min.js"></script>
  <script src="../node_modules/stompjs/lib/stomp.min.js"></script>
  <script src="../node_modules/jquery-ui/dist/jquery-ui.min.js"></script>
  <script src="../node_modules/lodash/lodash.min.js"></script>
  <script src="../node_modules/angular/angular.js"></script>
  <script src="../node_modules/angular-animate/angular-animate.min.js"></script>
  <script src="../node_modules/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="../node_modules/angular-i18n/angular-locale_nl-nl.js"></script>
  <script src="../node_modules/ng-file-upload/dist/angular-file-upload.min.js"></script>
  <script src="../node_modules/angular-local-storage/dist/angular-local-storage.min.js"></script>
  <script src="../node_modules/angular-route/angular-route.min.js"></script>
  <script src="../node_modules/angular-scroll/angular-scroll.min.js"></script>
  <script src="../node_modules/angular-clipboard/angular-clipboard.js"></script>
  <script src="../node_modules/angular-ui-tab-scroll/angular-ui-tab-scroll.js"></script>
  <script src="../node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
  <script src="../node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
  <script src="../node_modules/moment/moment.js"></script>
  <script src="../node_modules/ui-select/dist/select.js"></script>
  <script src="../node_modules/angular-xeditable/dist/js/xeditable.min.js"></script>
  <script src="../node_modules/checklist-model/checklist-model.js"></script>
  <script src="../node_modules/ng-toast/dist/ngToast.js"></script>
  <script src="../node_modules/angular-rangeslider/angular.rangeSlider.js"></script>

  <script src="./js/vendor/akamai/controlbar/ControlBar.js"></script>

  <!-- endbuild -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dashjs/2.6.6/dash.all.min.js" ></script>
  <script src="//cdn.jsdelivr.net/sockjs/1/sockjs.min.js"></script>

  <script src="//cdn.npoplayer.nl/player/1.12.0/web/npoplayer.js"
          type="module" defer></script> <!-- als je geen 'module' gebruikt dan werkt het niet na gulp -->
  <link rel="stylesheet" href="https://cdn.npoplayer.nl/player/1.12.0/web/npoplayer.css"/>


</head>

<body id="scroll-spy-top" ng-app="poms" poms-alert
      ng-controller="GuiController as guiController">


<div class="poms-loader" ng-if="!guiController.loaded">
  <div class="loading-text">
    <img src="./resources/images/poms-loader.gif"/>
    Even geduld...
  </div>
</div>

<nav class="header" ng-if="guiController.loaded">
  <span class="header-title" title="{{guiController.infoService.getOtap().otap}}">
    <a class="header-logo" href="javascript:void(0)" ng-click="guiController.openInfo()">
      <img class="header-logo-image" src="./resources/images/npo-poms.svg" alt="POMS"/>
    </a>
  </span>

    <a title="Nieuw item toevoegen"
       id="newItem"
       class="header-link header-link-new" href="javascript:void(0)"
       ng-click="guiController.newMedia()">NIEUW</a>

    <a title="Nieuwe zoekopdracht" class="header-link header-link-new"
       id="newSearchTab"
       href="javascript:void(0)"
       ng-click="guiController.newSearch()">ZOEKEN</a>

    <a  id="liveknipper"
        title="Maak mp4's and screen shot van een live stream"
        class="header-link header-link-new"
        href="javascript:void(0)"
        ng-click="guiController.openLiveEditor()">Liveknipper</a>

    <div class="header-account-details" ng-class="{'open': (userDropdown.isopen)}">

      <div class="header-account-buttons">

        <div class="header-account-link">
          <span id="currentUser"
                ng-class="{'open': (userDropdown.isopen)}"
                ng-click="guiController.toggleUserDropdown($event)">
            {{::guiController.editor.text}}</span>
        </div>

        <div class="header-account-link no-border " ng-if="guiController.showOwnerMis()">
          <span class="header-account-owner" ng-click="guiController.openOwnerInfo()"> (NPO gebruiker {{guiController.currentOwnerTypeToShow()}})</span>
        </div>

        <div class="header-account-link">
          <span class="btn-text-icon btn-text-icon-favorite"
                ng-click="guiController.openFavorites()" >
            mijn favorieten
          </span>
        </div>

        <div class="header-account-link">
          <span class="btn-text-icon btn-text-icon-help">
            <a title="Uitleg over de interface van POMS"
               href="https://wiki.vpro.nl/display/poms/Gebruikersdocumentatie" target="blank">support</a>
          </span>
        </div>
      </div>

      <div class="header-account-dropdowns">

        <div class="header-dropdown" dropdown is-open="userDropdown.isopen">
          <div>
            <h2>account</h2>
            <ul>
              <li><a href="javascript:void(0)" ng-click="guiController.editAccount()">instellingen</a></li>
              <li><a href="javascript:void(0)" ng-click="guiController.openTranscodings()">mijn uploads</a></li>
              <li><a href="javascript:void(0)" ng-click="guiController.logOut()">uitloggen</a></li>
            </ul>
          </div>
          <div>
            <h2>tools</h2>
            <ul>
              <li><a href="javascript:void(0)" ng-click="guiController.closeAllTabs( $event )" >sluit alle tabs</a></li>
              <li><a href="/grids/" target="views" class="link">overzichten</a></li>
              <li><a href="/CMSSelector/example/" target="views" class="link">CMS-selector</a></li>
              <li><a href="https://rs.poms.omroep.nl/v1/thesaurus/example/" target="views" class="link">Thesaurus-selector</a></li>
            </ul>
          </div>
        </div>

      </div>

    </div>
</nav>


<div class="tabset" ng-if="guiController.loaded">
  <scrollable-tabset api="guiController.scrlTabsApi">
    <uib-tabset   ng-init="guiController.initTab(guiController.currentTab)">
      <uib-tab data-ng-repeat="tab in guiController.tabs"

               class="tab  tab-{{tab.type}} tab-media-{{tab.item.workflow.id}} {{tab.mayWrite}} {{$index === guiController.currentTabIndex ? 'active' : ''}}"
               select="guiController.initTab(tab)"
               deselect="guiController.leaveTab($selectedIndex, $event)"
      >
        <uib-tab-heading class="tab-heading ">

          <span ng-if="tab.type == 'edit'">
            <span class="tab-subtitle">{{::tab.item.type.text }}</span>
            <span class="tab-title" title="{{ tab.item.mainTitle.text }}">{{ tab.item.mainTitle.text }}</span>
            <span class="tab-close" title="sluit deze tab"
                  ng-click="guiController.removeTab($index)">close</span>
          </span>

          <span ng-if="tab.type == 'search'">
            <span class="tab-subtitle">Zoeken</span>
            <span class="tab-title" title="{{tab.item.form.summary}}">{{ tab.item.form.summary }}</span>
            <span class="tab-close" title="sluit deze tab"
                  ng-click="guiController.removeTab($index)">close</span>
          </span>

        </uib-tab-heading>

        <poms-editor ng-if="tab.type =='edit' && !tab.reload" media="tab.item"></poms-editor>
        <poms-search-tab ng-if="tab.type=='search'" id="search-{{tab.id}}" search="tab.item"></poms-search-tab>

      </uib-tab>

      <uib-tab title='open een nieuwe zoek-tab' ng-click="guiController.newSearch()" class="tab-add"></uib-tab>
      <uib-tab title='sluit alle tabs'
           ng-click="guiController.closeAllTabs(null, 1)"
           class="tab-close-all" ng-if="guiController.tabs.length > 1"></uib-tab>

    </uib-tabset>
  </scrollable-tabset>

</div>


<poms-notifications>
  <toast></toast>
</poms-notifications>

  <script src="{domain}/redirect/npo_api/thesaurus/popup.js" type="text/javascript"></script>

<!-- build:poms js/poms-{version}.js -->

  <script src="./js/poms/modules/editor/editor.js"></script>
  <script src="./js/poms/modules/editor/services/EditorService.js"></script>
  <script src="./js/poms/modules/editor/services/GTAAService.js"></script>

  <script src="./js/poms/modules/list/list.js"></script>
  <script src="./js/poms/modules/list/services/ListService.js"></script>

  <script src="./js/poms/modules/ui/ui.js"></script>
  <script src="./js/poms/modules/ui/multidropdown/multidropdown.js"></script>

  <script src="./js/poms/modules/messages/messages.js"></script>
  <script src="./js/poms/modules/messages/services/MessageService.js"></script>
  <script src="./js/poms/modules/messages/services/NotificationService.js"></script>
  <script src="./js/poms/modules/messages/controllers/MessageController.js"></script>

  <script src="./js/poms/modules/search/search.js"></script>
  <script src="./js/poms/modules/search/controllers/ModalSearchController.js"></script>
  <script src="./js/poms/modules/search/controllers/SearchFormController.js"></script>
  <script src="./js/poms/modules/search/controllers/SearchResultController.js"></script>
  <script src="./js/poms/modules/search/controllers/SearchTabController.js"></script>
  <script src="./js/poms/modules/search/controllers/PreviewController.js"></script>

  <script src="./js/poms/modules/search/directives/PomsPager.js"></script>
  <script src="./js/poms/modules/search/directives/PomsSearchColumns.js"></script>
  <script src="./js/poms/modules/search/directives/PomsSearch.js"></script>

  <script src="./js/poms/modules/search/services/SearchService.js"></script>
  <script src="./js/poms/modules/search/services/SearchFactory.js"></script>

  <script src="./js/poms/modules/media/media.js"></script>
  <script src="./js/poms/modules/media/controllers/ConfirmController.js"></script>
  <script src="./js/poms/modules/media/controllers/CreateController.js"></script>
  <script src="./js/poms/modules/media/controllers/BulkUpdateController.js"></script>
  <script src="./js/poms/modules/media/controllers/EditController.js"></script>
  <script src="./js/poms/modules/media/controllers/EditHistoryController.js"></script>
  <script src="./js/poms/modules/media/controllers/ImagesController.js"></script>
  <script src="./js/poms/modules/media/controllers/ImageEditController.js"></script>
  <script src="./js/poms/modules/media/controllers/ItemizerNEPController.js"></script>
  <script src="./js/poms/modules/media/controllers/PredictionsController.js"></script>
  <script src="./js/poms/modules/media/controllers/PredictionEditController.js"></script>
  <script src="./js/poms/modules/media/controllers/LocationsController.js"></script>
  <script src="./js/poms/modules/media/controllers/LocationEditController.js"></script>
  <script src="./js/poms/modules/media/controllers/LocationUploadController.js"></script>
  <script src="./js/poms/modules/media/controllers/MediaController.js"></script>
  <script src="./js/poms/modules/media/controllers/MembersController.js"></script>
  <script src="./js/poms/modules/media/controllers/ModalMergeController.js"></script>
  <script src="./js/poms/modules/media/controllers/ModalTableEditController.js"></script>
  <script src="./js/poms/modules/media/controllers/ModalIFrameController.js"></script>
  <script src="./js/poms/modules/media/controllers/OwnerController.js"></script>
  <script src="./js/poms/modules/media/controllers/OwnersController.js"></script>
  <script src="./js/poms/modules/media/controllers/CreditsController.js"></script>
  <script src="./js/poms/modules/media/controllers/GeoLocationsController.js"></script>
  <script src="./js/poms/modules/media/controllers/TopicsController.js"></script>
  <script src="./js/poms/modules/media/controllers/OwnedListsController.js"></script>
  <script src="./js/poms/modules/media/controllers/MultiEditController.js"></script>
  <script src="./js/poms/modules/media/controllers/RelationsController.js"></script>
  <script src="./js/poms/modules/media/controllers/RelationEditController.js"></script>
  <script src="./js/poms/modules/media/controllers/SegmentsController.js"></script>
  <script src="./js/poms/modules/media/controllers/SegmentEditController.js"></script>
  <script src="./js/poms/modules/media/controllers/ScheduleEventsOverviewController.js"></script>
  <script src="./js/poms/modules/media/controllers/ScheduleEventEditController.js"></script>
  <script src="./js/poms/modules/media/controllers/SaveConfirmController.js"></script>
  <script src="./js/poms/modules/media/controllers/ScheduleEventsController.js"></script>
  <script src="./js/poms/modules/media/controllers/SubtitlesController.js"></script>
  <script src="./js/poms/modules/media/controllers/SubtitlesUploadController.js"></script>
  <script src="./js/poms/modules/media/controllers/TooManyDescendantsController.js"></script>

  <script src="./js/poms/modules/media/directives/PomsEdit.js"></script>
  <script src="./js/poms/modules/media/directives/PomsEditCheckbox.js"></script>
  <script src="./js/poms/modules/media/directives/PomsEditDaterange.js"></script>
  <script src="./js/poms/modules/media/directives/PomsEditFields.js"></script>
  <script src="./js/poms/modules/media/directives/PomsEditGenres.js"></script>
  <script src="./js/poms/modules/media/directives/PomsEditMulti.js"></script>
  <script src="./js/poms/modules/media/directives/PomsEditModal.js"></script>

  <script src="./js/poms/modules/media/directives/PomsOwnedLists.js"></script>
  <script src="./js/poms/modules/media/directives/PomsEditCredits.js"></script>
  <script src="./js/poms/modules/media/directives/PomsEditGeoLocations.js"></script>
  <script src="./js/poms/modules/media/directives/PomsEditTopics.js"></script>
  <script src="./js/poms/modules/media/directives/PomsEditBroadcastersPortals.js"></script>
  <script src="./js/poms/modules/media/directives/PomsEditDropdown.js"></script>
  <script src="./js/poms/modules/media/directives/showFeedback.js"></script>
  <script src="./js/poms/modules/media/directives/PomsEditTools.js"></script>
  <script src="./js/poms/modules/media/directives/PomsOwner.js"></script>

  <script src="./js/poms/modules/media/directives/PomsMemberColumns.js"></script>
  <script src="./js/poms/modules/media/directives/PomsImagesColumns.js"></script>
  <script src="./js/poms/modules/media/directives/PomsSegmentColumns.js"></script>
  <script src="./js/poms/modules/media/directives/PomsPredictionColumns.js"></script>
  <script src="./js/poms/modules/media/directives/PomsLocationColumns.js"></script>
  <script src="./js/poms/modules/media/directives/PomsScheduleEventsColumns.js"></script>

  <script src="./js/poms/modules/media/services/EditFieldService.js"></script>
  <script src="./js/poms/modules/media/services/BulkUpdateService.js"></script>
  <script src="./js/poms/modules/media/services/EditService.js"></script>
  <script src="./js/poms/modules/media/services/MediaService.js"></script>
  <script src="./js/poms/modules/media/services/MergeService.js"></script>
  <script src="./js/poms/modules/media/services/NEPService.js"></script>
  <script src="./js/poms/modules/media/services/NpoPlayerService.js"></script>
  <script src="./js/poms/modules/media/services/SubtitlesService.js"></script>
  <script src="./js/poms/modules/media/services/UploadService.js"></script>


  <script src="./js/poms/modules/util/util.js"></script>
  <script src="./js/poms/modules/util/directives/PomsFavoriteFeedback.js"></script>
  <script src="./js/poms/modules/util/directives/PomsAlert.js"></script>
  <script src="./js/poms/modules/util/directives/PomsConfirm.js"></script>
  <script src="./js/poms/modules/util/directives/PomsClipboard.js"></script>
  <script src="./js/poms/modules/util/directives/PomsEvents.js"></script>
  <script src="./js/poms/modules/util/directives/PomsUiFadeToggle.js"></script>
  <script src="./js/poms/modules/util/directives/PomsInvalid.js"></script>
  <script src="./js/poms/modules/util/directives/PomsDateRange.js"></script>
  <script src="./js/poms/modules/util/directives/PomsHelp.js"></script>
  <script src="./js/poms/modules/util/directives/PomsUiSelect.js"></script>
  <script src="./js/poms/modules/util/directives/PomsViewer.js"></script>
  <script src="./js/poms/modules/util/directives/PomsWorkflow.js"></script>
  <script src="./js/poms/modules/util/controllers/AlertController.js"></script>

  <script src="./js/poms/modules/util/filters/Filter.js"></script>

  <script src="./js/poms/app.js"></script>

  <script src="./js/poms/services/GuiService.js"></script>
  <script src="./js/poms/services/HelpService.js"></script>
  <script src="./js/poms/services/FavoritesService.js"></script>
  <script src="./js/poms/services/InfoService.js"></script>

  <script src="./js/poms/controllers/AccountController.js"></script>
  <script src="./js/poms/controllers/GuiController.js"></script>
  <script src="./js/poms/controllers/FavoritesController.js"></script>
  <script src="./js/poms/controllers/InfoController.js"></script>
  <script src="./js/poms/controllers/LiveEditorController.js"></script>
  <script src="./js/poms/controllers/OwnerInfoController.js"></script>
  <script src="./js/poms/controllers/TranscodingsController.js"></script>

  <script src="../build/generated-js/constants.js"></script>
  <script src="../build/generated-js/templates.js"></script>
<!-- endbuild -->


<!-- build:remove -->
<!-- live reload server -->
  <script>
  document.write('<script src="'+ location.protocol +'//' + (location.host || 'localhost').split(':')[0] +
  ':35729/livereload.js?snipver=1"></' + 'script>')
  </script>
<!-- enbuild -->

</body>
</html>
