<span class='poms-multidropdown-label disable-select' ng-click="controller.toggleOpen($event)">{{name}}</span>
<ui-select
        ng-model="singleSelection.value"
        theme="selectize"
        ng-show="opened"
>
  <ui-select-choices
          repeat="item in options"
          refresh="controller.getOptions({'tagsuggest': $select.search})"
          refresh-delay="10">
    <div ng-bind-html="controller.trustAsHtml((item | highlight: $select.search))"></div>
  </ui-select-choices>

  <ui-select-match style='display:none' placeholder=""></ui-select-match>

</ui-select>

