<span class='poms-multidropdown-label disable-select' ng-click="controller.toggleOpen($event)">{{name}}</span>

<ui-select
        multiple
        ng-model="$parent.selection"
        theme="selectize"
        uis-open-close="controller.openClose(isOpen)"
        ng-show="opened"
        on-select="controller.select()" >
  <ui-select-choices
          repeat="item in options"
          refresh="controller.getOptions({'tagsuggest': $select.search})"
          refresh-delay="10">
    <div ng-bind-html="controller.trustAsHtml((item | highlight: $select.search))"></div>
  </ui-select-choices>

  <ui-select-match style='display:none' placeholder=""></ui-select-match>

</ui-select>

