<span class='poms-multidropdown-label disable-select' ng-click="controller.toggleOpen($event)">{{name}}</span>

<!-- using multiple give all kind of issues (on new tabs) -->
<ui-select
        ng-model="singleSelection.value"
        theme="selectize"
        uis-open-close="controller.openClose(isOpen)"
        close-on-select="true"
        reset-search-input="true"
        ng-show="opened"
        on-select="controller.select" >
  <ui-select-choices repeat="item in options | filter: {text: $select.search}">
    <div ng-bind-html="controller.trustAsHtml((item.text | highlight: $select.search))"></div>
  </ui-select-choices>

  <ui-select-match style='display:none' placeholder=""></ui-select-match>

</ui-select>


