<div class="editfield-wrapper editfield-checklist-icons {{field}}"
     ng-keyup="keyEvent($event, editElement, $data)"
     ng-click="showEditElement($event, editElement)"
     ng-class="{'empty' : ! findDeep(media, field), 'may-write' : mayWrite, 'forbidden': !mayWrite, 'opened' : isOpen , 'waiting': waiting }"
     save-feedback>

    <h2 class="small-header">{{header}}</h2>

    <p class="editfield"
       e-form="editElement"
       e-name="editvalue"
       editable-checklist-icons="findDeep(media, field)"
       e-ng-options="b.id as b.text for b in options"
       onshow="onShow()"
       onhide="onHide()"
       onbeforesave="save($data)"
       ng-show="mayWrite"
       blur="ignore"
            >
        <span ng-repeat="item in findDeep(media, field)" class="icon"
              title="{{item.text}}"
              ng-class="item.iconClass"></span>
    </p>

    <div class="editfield-backdrop" ng-click="blurredSave($event)"></div>

    <p class="editfield" ng-hide="mayWrite">
        <span ng-repeat="item in findDeep(media, field)"
              ng-title="item.text"
              class="icon"
              ng-class="item.iconClass"></span>
    </p>

    <poms-edit-tools may-write="mayWrite" help-field="{{helpField}}"></poms-edit-tools>


</div>
