<div class="editfield-wrapper editfield-checklist {{field}}"
     ng-keyup="keyEvent($event, editElement, $form)"
     ng-click="showEditElement($event, editElement)"
     ng-class="{'empty' : !media[field], 'may-write' : mayWrite(), 'forbidden': !mayWrite(), 'opened' : isOpen, 'waiting': waiting}"
     save-feedback>

    <div class="editfield-backdrop" ng-click="blurredSave($event)"></div>

    <h2 class="small-header">{{header}}</h2>

    <p class="editfield"
       e-form="editElement"
       e-name="editvalue"
       editable-checklist="media[field]"
       e-ng-click="checkPortalsAndBroadcasters($data, field)"
       e-ng-options="b.id as b.text for b in options"
       onshow="onShow()"
       onhide="onHide()"
       onbeforesave="save($data)"
       ng-show="mayWrite()"
       blur="ignore"
            >
        <span ng-repeat="item in media[field]">{{item.text}}{{$last ? '' : ', '}}</span>
    </p>



    <p class="editfield" ng-hide="mayWrite()">
        <span ng-repeat="item in media[field]">{{item.text}}{{$last ? '' : ', '}}</span>
    </p>

    <poms-edit-tools may-write="mayWrite()" help-field="{{helpField}}"></poms-edit-tools>


</div>
