<div class="editfield-wrapper editfield-persons"
     ng-class="{
     'empty': personsController.items.length == 0,
     'may-write' : personsController.mayWrite ,
     'forbidden' : !personsController.mayWrite ,
     'waiting': waiting}"
     ng-show="personsController.mayRead" save-feedback>

    <h2 class="small-header"> {{header}} </h2>

  <span ng-if="personsController.maySkipGtaa">
    <input ng-model="personsController.useGtaa"
           type="checkbox"
           > Gebruik GTAA
  </span>

    <div class="editfield">

        <div ng-repeat="item in personsController.items" class="media-person">

            {{item.role.text}}: {{item.givenName}} {{item.familyName}}

            <button title='koppel persoon aan GTAA record' ng-if="personsController.mayWrite && !item.gtaaUri && gtaaPermission" class="media-person-link"
                    ng-click="personsController.editPerson( item )">
                koppel
            </button>

            <button title='edit persoon' ng-if="personsController.mayWrite && !item.gtaaUri && !gtaaPermission" class="media-person-edit"
                    ng-click="personsController.editPerson( item )" >
                edit
            </button>

            <span ng-if="gtaaPermission && item.gtaaRecord" title='{{item.gtaaRecord.status }}' class='media-person-gtaa media-person-gtaa-{{item.gtaaRecord.status}}'>
            </span>

            <button ng-if="personsController.mayWrite" class="media-person-remove"
                    poms-confirm="'persoon'"
                    poms-submit="personsController.removePerson( item )"
                    >
                verwijder
            </button>

        </div>

    </div>

    <div class="media-field-tools">
        <div ng-if="!personsController.mayWrite" class="forbidden-icon"></div>
        <poms-help field="{{helpField}}"></poms-help>
    </div>

    <button class="btn-text-icon btn-text-icon-add media-person-add" ng-if="personsController.mayWrite" ng-click="personsController.addPerson()">
        persoon toevoegen
    </button>

</div>
