<div class="editfield-wrapper editfield-concepts disable-hover"
     id="gtaaPersons"
     ng-class="{
     'empty': gtaaPersonsController.items.length == 0,
     'may-write' : gtaaPersonsController.mayWrite ,
     'forbidden' : !gtaaPersonsController.mayWrite ,
     'waiting': waiting}"
     ng-show="gtaaPersonsController.mayRead" save-feedback>

    <h2 class="small-header"> {{header}} </h2>

    <div class="editfield">

        <div ng-repeat="item in gtaaPersonsController.items" class="media-concept">

            <span class="media-concept-scope" title="{{item.role.text}}: {{item.name}} - {{item.scopeNotes}}">

                {{item.role.text}}: {{item.givenName}} {{item.familyName}}
                <span class="media-concept-scope-note" ng-repeat="note in item.scopeNotes">
                    {{$first ? ' (' : ', '}}{{note}}{{$last ? ')' : '' }}
                </span>
            </span>

            <button name="removePerson" ng-if="gtaaPersonsController.mayWrite" class="media-concept-remove"
                    poms-confirm="'persoon'"
                    poms-submit="gtaaPersonsController.removePerson( item )"
            >
                verwijder
            </button>

            <button name="editPerson" title='edit persoon' ng-if="gtaaPersonsController.mayWrite" class="media-concept-edit"
                    ng-click="gtaaPersonsController.editPerson( item )" >
                edit
            </button>

            <button name="statusPerson" ng-if="item.gtaaUri" title='{{item.gtaaStatus }}' class='media-concept-gtaa media-person-gtaa-{{item.gtaaStatus}}'>
                {{item.gtaaStatus}}
            </button>

        </div>

    </div>

    <div class="media-field-tools">
        <div ng-if="!gtaaPersonsController.mayWrite" class="forbidden-icon"></div>

        <div ng-if="gtaaPersonsController.items" class="remove-override-icon" poms-confirm="'Alle personen'" poms-submit="gtaaPersonsController.removeOverride($event)"></div>

        <poms-help field="{{helpField}}"></poms-help>
    </div>

    <button id="addPerson" class="btn-text-icon btn-text-icon-add media-concept-add" ng-if="gtaaPersonsController.mayWrite" ng-click="gtaaPersonsController.addPerson()">
        persoon toevoegen
    </button>

</div>
