<div class="editfield-wrapper"
     ng-click="modalTableEditController.showEditElement()"
     ng-class="{ 'empty': modalTableEditController.items.length == 0,  'may-write' : modalTableEditController.mayWrite ,  'forbidden' : !modalTableEditController.mayWrite ,'waiting': waiting}"
     ng-show="modalTableEditController.mayRead"
     save-feedback
        >

    <h2 class="small-header">{{header}}</h2>

    <div class="editfield">
        <div ng-repeat="item in modalTableEditController.items">
             {{item[optionField].text}} <span ng-if="item.platform">({{item.platform}})</span>
        </div>
    </div>

    <poms-edit-tools may-write="modalTableEditController.mayWrite" help-field="{{helpField}}"></poms-edit-tools>


</div>
