<div class="editfield-wrapper"
     ng-keydown="keyEvent($event, editElement, $form)"
     ng-click="showEditElement($event, editElement)"
     ng-class="{'empty' : isEmpty(), 'may-write' : mayWrite(), 'opened' : isOpen , 'forbidden': !mayWrite(), 'waiting': waiting}"
     ng-show="mayRead()"
     save-feedback
        >
    <h2 class="small-header">{{TextfieldNames[field]}}
        <poms-owner ng-if="showOwner( media, field )"
                    owner="{{media[field].owner}}" media="media"></poms-owner>
    </h2>
    <p class="editfield"
       editable-text="media[field].text"
       e-form="editElement"
       e-name="editvalue"
       onbeforesave="save($data)"
       onshow="onShow()"
       onhide="onHide()"
       blur="ignore"
       ng-show="mayWrite()"
       >{{media[field].text}}</p>

    <div class="editfield-backdrop" ng-click="blurredSave($event)"></div>

    <p class="editfield" ng-hide="mayWrite()"> {{media[field].text}} </p>

    <poms-edit-tools ng-if="helpField" may-write="mayWrite()" may-remove-override="mayRemoveOverride()" help-field="{{helpField}}"></poms-edit-tools>
    <poms-edit-tools ng-if="!helpField" may-write="mayWrite()" may-remove-override="mayRemoveOverride()" help-field="editor.general.{{field}}"></poms-edit-tools>

</div>
