<div class="editfield-wrapper editfield-concepts disable-hover"
     id="geolocations"
     ng-class="{
     'empty': !geoLocationController.items.values.length,
     'may-write' : geoLocationsController.mayWrite ,
     'forbidden' : !geoLocationsController.mayWrite ,
     'waiting': waiting}"
     ng-show="geoLocationsController.mayRead" save-feedback>

    <h2 class="small-header"> {{header}}
        <span ng-if="geoLocationsController.items.owner.id !== geoLocationsController.currentOwnerType" class="media-field-owner">
            bron: {{geoLocationsController.items.owner.id}}
        </span>
        <span
                ng-if="! geoLocationsController.items.virtual && geoLocationsController.items.owner.id === geoLocationsController.currentOwnerType" class="media-field-owner">
            <a ng-click="geoLocationsController.removeOverride()">verwijder overschrijving</a>
        </span>
    </h2>

    <div class="editfield">

        <div ng-repeat="item in geoLocationsController.items.values" class="media-concept">

            {{item.role.text}}: {{item.name}}
            <span class="media-concept-scope-note" ng-repeat="note in item.scopeNotes">
                {{$first ? ' (' : ', '}}{{note}}{{$last ? ')' : '' }}
            </span>

            <span ng-if="item.gtaaRecord" title='{{item.gtaaRecord.status }}' class='media-concept-gtaa media-concept-gtaa-{{item.gtaaRecord.status}}'>
            </span>


            <button name="removeGeoLocation" ng-if="geoLocationsController.mayWrite" class="media-concept-remove"
                    poms-confirm="'locatie'"
                    poms-submit="geoLocationsController.removeGeoLocation( item )"
                    >
                verwijder
            </button>

            <button name="editGeoLocation" title='edit locatie' ng-if="geoLocationsController.mayWrite" class="media-concept-edit"
                    ng-click="geoLocationsController.editGeoLocation( item )" >
                edit
            </button>

            <button name="statusGeoLocation" ng-if="item.gtaaUri" title='{{item.gtaaStatus }}' class='media-concept-gtaa media-concept-gtaa-{{item.gtaaStatus}}'>
                {{item.gtaaStatus}}
            </button>
        </div>

    </div>

    <div class="media-field-tools">
        <div ng-if="!geoLocationsController.mayWrite" class="forbidden-icon"></div>
        <poms-help field="{{helpField}}"></poms-help>
    </div>

    <button id="addGeoLocation" class="btn-text-icon btn-text-icon-add media-concept-add" ng-if="geoLocationsController.mayWrite" ng-click="geoLocationsController.addGeoLocation()">
        locatie toevoegen
    </button>

</div>
